.boxOfferId {
  width: 100%;
  height: 100vh;
  padding-top: 15px;

  .wrapper {
    @include flexColCenter;
    height: 100vh;

    // .top,
    // .right {
    //   height: 100%;
    // }

    .top {
      @include flexColCenter;
      // border: 1px solid purple;
      gap: 10px;
      width: 100%;
      height: 82vh;

      * {
        margin: 0;
        padding: 0;
      }

      .left,
      .right {
        box-shadow: 0px 0px 0.5px $vertVinted, 0px 0px 1px $vertVinted;
      }

      .left {
        width: 100%;
        @include flexColCenter;
        flex-direction: column;
        height: 50%;

        .imgLeftAlone {
          width: 100%;
          @include flexCenter;
          height: 100%;


          .boxImgOffer {
            overflow: hidden;
            width: 100%;
            height: 100%;


            .prodImg {
              width: 100%;
              height: 100%;
              display: block;
              -o-object-fit: cover;
              object-fit: cover;
              -o-object-position: top;
              object-position: top;
            }
          }
        }

        .imgLeft article {
          display: flex;
          width: 100%;
          max-height: 82vh;
        }

        .imgLeft {
          width: 100%;
          height: 100%;
          @include flexCenter;

          .boxImgOffer {
            @include flexCenter;
            width: 100%;
            height: 100%;

            .prodPict0 {
              display: block;
              -o-object-fit: cover;
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }


        .imgsRight {
          width: 100%;
          @include flexColCenter;
          height: 100%;

          & article {
            @include flexCenter;
            height: calc(100% / (var(--imgsLength)));
            width: 100%;
            max-height: 100%;

            .boxImgOffer {
              @include flexCenter;
              height: 100%;
              width: 100%;

              .prodPict {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                display: block;
              }

              .prodPict100 {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                display: block;
              }
            }
          }
        }
      }

      .right {
        width: 100%;
        text-align: justify;
        padding: 10px;
        gap: 10px;
        background-color: var(--backLightInput);
        @include flexColBetween;
        height: 50%;

        .title {
          width: 100%;
          height: 5%;
          @include flexColCenter;
          gap: 5px
        }

        .boxLineOffer {
          @include flexCenter;
          width: 100%;

          .lineOffer {
            width: 70%;
            border-radius: 5px;
            border: 2px solid $vertVinted;
            @include boxShadow;
          }

        }

        .boxDetails {
          width: 100%;
          @include flexColAroundStart;

          & div {
            @include flexBetween;
            width: 100%;
          }

          & div:last-child {
            width: 100%;
            height: 15%;

            .imgOfferSold {
              width: 100%;
              height: 100px;
              -o-object-fit: contain;
              object-fit: contain;
            }
          }
        }

        .rightBottom {
          @include flexColStart;
          gap: 20px;
          width: 100%;

          .up {
            @include flexColStart;
            gap: 10px;
          }

          .down {
            width: 100%;
            @include flexColStart;
            gap: 10px;


            .boxUser {
              width: 100%;
              @include flexStart;
              gap: 20px;
            }

            .boxLinks {
              width: 100%;
              @include flexStart;
              gap: 10px;

              & a {
                width: 50%;
                @include btn;
              }
            }
          }
        }
      }


    }

    .bottom {
      width: 100%;
      height: 30%;
    }
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

// @media all and (min-width : 768px) {}

@media all and (min-width : 992px) {
  .boxOffer {
    padding: 0;

    .wrapper {
      .top {
        flex-direction: row !important;
      }
    }
  }
}

@media all and (min-width : 1200px) {
  .boxOfferId {
    padding: 0;

    .wrapper {

      .top {
        height: 100%;
        flex-direction: row !important;

        .left {
          flex-direction: row !important;
          height: 100%;

          .imgLeftAlone {
            .boxImgOffer {
              .prodImg {
                max-height: 82vh;
              }
            }
          }

          .imgLeft,
          .imgLeft * {
            height: 100%;
          }

          .imgsRight {
            .noImg {
              height: 100%;
            }
          }
        }

        .right {
          width: calc(100%/3);
          height: 100%;
          @include flexColTopStart;

          .boxDetails {
            @include flexColTopStart;
            height: 70%;

            & div:not(div:last-child) {
              height: calc(100%/9) !important;
            }

            & div:last-child {

              .imgOfferSold {
                height: 100%;
              }
            }
          }

          .boxLinks {
            flex-direction: row !important;
          }
        }
      }
    }

    .infoUserCenter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 500;
      font-size: large;
      --text-shadow1w: #f8f6f6;
      --text-shadow2: rgba(0, 0, 0, 0.7);
      text-shadow: 2px 2px 4px var(--text-shadow1w), 1px 1px 1px var(--text-shadow1w),
        2px 2px 4px var(--text-shadow1w),
        2px 2px 2px var(--text-shadow2), 2px 2px 2px var(--text-shadow2), 2px 2px 4px var(--text-shadow2);
    }
  }
}