/* HOME */
.boxHome {
  @include flexColCenter;
  width: 100%;
  padding: 120px 0 60px 0;

  .wrapper {
    @include flexColCenter;
    gap: 5px;

    .boxContainerBtnChevron {
      @include flexColCenter;
      height: 80%;

      .btnChevronLeftOff {
        display: none
      }

      .btnChevronLeft,
      .btnChevronRight {
        @include btn;
      }
    }
  }
}

@media all and (min-width : 576px) {}

@media all and (min-width : 768px) {
  .boxHome {
    display: flex;
    justify-content: flex-start;
    padding: 0 !important;
    height: calc(var(--fixHeight) - 100px);

    .wrapper {
      flex-direction: row !important;
      height: calc(100% - var(--divHeight));

      .boxContainerBtnChevron,
      .btnChevronLeftOff {
        width: 30px;
      }

      .btnChevronLeft,
      .btnChevronRight {
        @include btn;
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
      }
    }
  }
}

@media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  .boxHome {
    // padding: 40px 0 0 0;

    .wrapper {
      flex-direction: row !important;
      height: calc(100% - 40px);

      .btnChevronLeftOff {
        width: 32.5px;
      }

      .btnChevronLeft,
      .btnChevronRight {
        @include btn;
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
      }
    }
  }
}

@media all and (min-width : 1400px) {
  .boxContainerBtnChevron {
    height: 90% !important;
  }
}