.boxLastSales {
  @include flexColCenter;
  gap: 5px;
  padding: 0 5px 0 5px;

  .boxTansactions {
    @include flexStart;
    width: 100%;
    border: 2px solid $vertVinted;
    border-radius: 5px;
    background-color: $backDarkLink;

    & a {
      width: 100%;
      color: $white;


      table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;

        & thead {
          border-bottom: 2px solid $vertVinted;
        }

        & thead,
        & tbody,
        & tbody>tr {
          width: 100%;
          display: flex;
          justify-content: flex-start;
        }

        & thead>tr,
        & tbody>tr>td {
          width: calc(100% / 5);
        }

        & thead>tr {
          overflow: hidden;
          @include flexStart;
        }

        & tbody>tr {
          @include flexStart;

          & td {
            @include flexColCenter;
            overflow: hidden;
            height: 100%;

            & div {
              max-width: 100%;
            }
          }
        }

        & thead>tr>th {
          width: 100%;
          text-wrap: nowrap;
          padding: 5px;
        }

        & thead>tr:not(tr:last-child),
        & tbody>tr>td:not(td:last-child) {
          border-right: 2px solid $vertVinted;
        }
      }
    }
  }
}