.boxChat {
  padding-top: 2.5%;

  & ul {
    height: 10vh;
    overflow-x: hidden;
  }

  & p {
    @include flexCenter;
    letter-spacing: 10px;
    color: $vertVinted;
  }

  & textarea {
    width: 99%;
    border: none;
    border-radius: 5px;
  }

  & button {
    @include btn;
  }

}