.boxDashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 5px;
  width: 100%;
  padding: 5px 0 5px 0;

  .wrapper {
    gap: 2.5px;
    display: grid;
  }

  .top,
  .bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5px;
  }

  .top .left,
  .top .right,
  .bottom .left,
  .bottom .right {
    min-height: 100%;

    .boxDetails {
      min-height: calc(100% - 25px);
    }

    .boxDetails,
    .boxTitleSearch {
      background-color: $backgWhite;
      border-radius: 5px;
      border: 1px solid $vertVinted;
    }
  }
}

@media all and (min-width: 768px) {
  .boxDashboard {

    .top,
    .bottom {
      flex-direction: row !important;

      .left,
      .right {
        width: calc(100% /2);
      }
    }
  }
}