.boxTitleClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  & img {
    object-fit: cover;
  }

  & button {
    @include btn;
    box-shadow: none;
    border: none;

    &:active {
      box-shadow: inset 0px 0px 2px #000000, inset 1px 1px 2px $black;
    }
  }

  & img,
  & button {
    width: 25px;
    height: 25px;
    border-radius: 7.5px;
    @include boxShadow;
  }
}