.boxFormInputCode {
  // border: 2px solid red;
  @include flexColCenter;
  width: 100%;
  height: 100vh;
  padding: 90px 0 50px 0;

  .boxContainerInputCode {
    @include flexCenter;
    // border: 2px solid green;
    gap: 8px;

    .classInputCode {
      @include flexCenter;
      width: 45px;
      height: 45px;
      background-color: transparent;
      font-size: 2rem;
      border: 1px solid green;
      box-shadow: 0px 0px 1px $vertVinted, 0.10px 0.10px 1px $vertVinted, inset 0.15px 0.15px 5px $vertVinted, inset 0.20px 0.20px 10px $black;
      border-radius: 5px;
      padding: 0;
      text-align: center;

      &::-webkit-input-placeholder {
        font-size: 2rem;
        // padding-right: 5px;
        text-align: center;
        margin-left: 10px;
      }

      &::-moz-placeholder {
        font-size: 2rem;
        // padding-right: 5px;
        text-align: center;
        margin-left: 10px;
      }

      &:-ms-input-placeholder {
        font-size: 2rem;
        // padding-right: 5px;
        text-align: center;
        margin-left: 10px;
      }

      &::-ms-input-placeholder {
        font-size: 2rem;
        // padding-right: 5px;
        text-align: center;
        margin-left: 10px;
      }

      &::placeholder {
        font-size: 2rem;
        // padding-right: 5px;
        text-align: center;
        margin-left: 10px;
      }
    }

  }

  .boxLoaded {
    width: 100%;
  }

  .submitInputCode {
    @include btn;
    width: 50%;
  }
}