.boxChat {
  padding-top: 2.5%;

  .boxMessages {
    height: 10vh;
    overflow-x: hidden;

    .top {
      .sellerAvatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  & p {
    @include flexCenter;
    letter-spacing: 10px;
    color: $vertVinted;
  }

  & textarea {
    width: 99%;
    border: none;
    border-radius: 5px;
  }

  & button {
    @include btn;
  }

}