.boxImgs {
  margin-top: 6px;

  .imgBanner {
    max-width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: -6px;
    -o-object-position: center 28%;
    object-position: center 28%;
  }

  .imgBannerBottom {
    max-width: 100%;
    margin-top: -80px;
  }
}

@media all and (min-device-width : 576px) {
  .boxImgs {
    width: 100%;

    .imgBanner {
      width: 100%;
    }
  }
}

@media all and (min-device-width : 1400px) {
  .boxImgs {
    .imgBanner {
      max-height: 400px;
    }
  }
}