.boxTransactionId {
  width: 100%;

  .wrapper {

    .transactionId {
      gap: 20px;
      @include flexColAround;

      width: 100%;
      padding: 90px 0px 50px 0px;

      & a {
        @include boxShadow;
        padding: 10px;

        &:active {
          @include boxShadowInsetVinted;
        }
      }

      .left,
      .middle,
      .right {
        width: 100%;

        & h3 {
          @include flexCenter;
          padding-bottom: 5px;
          border-bottom: 2px solid $vertVinted;
        }

        .boxInfos {
          width: 100%;
          height: 400px;
          @include flexColBetween;

          .top {
            @include flexColCenter;
            width: 100%;
            gap: 10px;
            padding: 10px 0 10px 0;

            .name,
            .price,
            .date,
            .email {
              width: 100%;
              @include flexBetween;
            }
          }

          .bottom {
            height: 300px;
            width: 100%;

            & img {
              width: 100%;
              height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
            }
          }
        }

      }
    }
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

// @media all and (min-width : 768px) {}

// @media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  .boxTransactionId {

    .wrapper {
      .transactionId {
        height: 100%;
        flex-direction: row !important;
        padding: 0;

        .left,
        .middle,
        .right {
          height: 100%;

          .boxInfos {
            height: calc((100% - 20px)) !important;

            .top {
              height: 30% !important;
              @include flexColTop;
              gap: 20px;
            }

            .bottom {
              height: 70% !important;

              & img {

                height: 100% !important;

              }
            }
          }

        }
      }
    }
  }
}

// @media all and (min-width : 1400px) {}