.toggleNav {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
  z-index: 600;
  background-color: $white;
  animation: appearPanel 0.5s linear 0.25s 1 normal both;
  box-shadow: 0px 0px 1px $vertVinted;
  gap: 50px;
  padding: 10px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  border: 1px solid $vertVinted;
  box-shadow: 0px 0px 1px $black, 0px 0px 1.5px $black, 0px 0px 3px $black;

  .headAside {
    width: 100%;
    @include flexEnd;
    padding: 10px;

    .btnCloseAside {
      @include btn;
      width: 20%;
    }
  }

  .bodyAside {
    @include flexColStart;
    max-width: 100%;
    gap: 90px;

    & a,
    & button {
      letter-spacing: 20%;
      font-weight: 700;
      font-size: 1.25rem;
      @include textShadow;
    }

    & a {
      color: #9e9e9e;
      width: 100%;
      text-align: center;
      padding: 5px;
      border-radius: 5px;

      &:active {
        box-shadow: inset 0px 0px 5px $black, inset 0px 0px 5px $vertVinted;
      }

      & p {
        font-size: 1.15rem;
        text-shadow: 0.25px 0.25px 1px $black;
      }
    }

    & button {
      color: red;
    }
  }
}

.hideToggle {
  transform: translateX(-100%);
  animation: disappearPanel 1s linear 0.25s 1 normal both;
}

// BREAKPOINTS
@media all and (min-width : 576px) and (max-width: 767px) {
  .toggleNav {
    width: 50%;
    top: 50%;
    left: 75%;
  }
}

@media all and (min-width : 768px) {
  .toggleNav {
    width: 40%;
    left: 75%;
  }
}

@media all and (min-width : 992px) {
  .toggleNav {
    width: 30%;
    left: 84.75%;
  }
}


@media all and (min-width: 12OOpx) {
  .toggleNav {
    width: 50%;
    left: 75%;
  }
}

@media all and (min-device-width : 1400px) {
  .toggleNav {
    width: 25%;
    left: 87.45%;
  }
}