.boxLastUsers {
  @include flexColCenter;
  gap: 5px;
  padding: 0 5px 0 5px;
  overflow-y: auto;

  .boxUsers {
    @include flexStart;
    width: 100%;
    border: 2px solid green;

    .username {
      padding-left: 2.5px;
      flex: 2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        overflow: visible;
      }
    }

    .avatar {

      width: 40px;
    }

    .email {
      flex: 6;
      @include flexStart;
    }

    .date {
      flex: 1 40px;
    }

    .isAdmin,
    .news {
      width: 20px;
      ;
    }

    & div {
      @include flexStart;
    }

    & a {
      @include flexStart;
      width: 100%;
      gap: 5px;
      background-color: $backLightUser;

      .avatar {
        & img {
          width: 25px;
          height: 25px;
          object-fit: cover;
          border-radius: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .boxUsers {
    & div {
      display: flex;
      justify-content: space-around;
    }

    .email {
      flex: 1;
    }
  }
}