.boxFormSignUp {
  height: calc(100%);

  .wrapper {
    @include flexColTop;
    gap: 10px;

    & form {
      @include flexColStart;
      gap: 10px;

      & input {
        background-color: none;
      }
    }
  }
}