.toggleNav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  max-width: 60%;
  z-index: 600;
  background-color: $backgAside;
  animation: appearPanel 0.5s linear 0.25s 1 normal both;
  box-shadow: 0px 0px 1px $vertVinted;
  gap: 20px;
  padding: 10px;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  border: 1px solid $vertVinted;
  box-shadow: 0px 0px 1px $black, 0px 0px 1.5px $black, 0px 0px 3px $black;

  .headAside {
    width: 100%;
    @include flexEnd;

    .btnCloseAside {
      @include btn;
      width: 20%;
      @include boxShadow;
    }
  }

  .boxAside {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: $backgBodyAside;
    padding: 10px;
    border-radius: 10px;
    height: 90%;
    @include boxShadow;

    .boxFilterSearch {
      width: 100%;
      @include flexColStart;
      animation: appearFilter 1s linear 0.45s 1 normal both;

      .filterTwoThumbs {
        width: 100%;
        padding-top: 30px
      }
    }

    .bodyAside {
      @include flexColCenter;
      width: 100%;
      gap: 5px;

      .boxTitleAside {
        @include flexColStart;
        gap: 5px;
        width: 100%;

        & h3 {
          color: $vertVinted;
          width: 100%;
          border-bottom: 2px solid $vertVinted;
          padding-bottom: 2px;
        }
      }

      & a,
      & button {
        letter-spacing: 4px;
        font-weight: none;
        @include textShadow;
      }

      & a {
        color: #f1f1f1;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-radius: 5px;

        &:hover {
          color: $vertVinted;
          text-shadow: 0.25px 0.25px 1px #000000, 0.5px 0.5px 1px #000000, 0.75px 0.75px 1px #000000, 1px 1px 1px #000000;
        }

        &:active {
          box-shadow: inset 0px 0px 5px $black, inset 0px 0px 5px $vertVinted;
        }

        & p {
          font-weight: normal;
        }
      }

      & button {
        @include btn;
        width: 80%;

        & p {
          text-shadow: 0.25px 0.25px 1px #000000, 0.5px 0.5px 1px #000000, 0.75px 0.75px 1px #000000, 1px 1px 1px #000000;

          &:hover {
            color: red !important;
            text-shadow: 0.25px 0.25px 1px #000000, 0.5px 0.5px 1px #000000, 0.75px 0.75px 1px #000000, 1px 1px 1px #000000;

            &:active {
              box-shadow: inset 0px 0px 5px $black, inset 0px 0px 5px $vertVinted;
            }
          }
        }
      }
    }
  }
}

.hideToggle {
  transform: translateX(-100%);
  animation: disappearPanel 1s linear 0.25s 1 normal both;
}

// BREAKPOINTS
@media all and (min-width : 576px) and (max-width: 767px) {
  .toggleNav {
    width: 50%;
    top: 50%;
    left: 75%;
  }
}

@media all and (min-width : 768px) {
  .toggleNav {
    width: 40%;
    left: 75%;
  }
}

@media all and (min-width : 992px) {
  .toggleNav {
    width: 30%;
    left: 84.75%;
  }
}


@media all and (min-width: 12OOpx) {
  .toggleNav {
    width: 50%;
    left: 75%;
  }
}

@media all and (min-device-width : 1400px) {
  .toggleNav {
    width: 25%;
    left: 87.45%;
  }
}