/* ARTICLE */
.boxOfferCard {
  @include flexCenter;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  // .wrapper {}

  & a {
    width: 100%;

    &:hover {
      -webkit-animation: scaleArticle 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
      animation: scaleArticle 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    }

    & article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      gap: 5px;
      min-height: 350px;
      background-color: rgb(189, 189, 189);
      // border: 2px solid crimson;
      position: relative;
      font-size: 1.15rem;

      .boxImgArticle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        // border: 2px solid blue;

        .imgArticle {
          display: block;
          width: 100%;
          height: 250px;
          -o-object-fit: cover;
          object-fit: cover;
        }

        .classBannerSold {
          width: 100px;
          height: 100px;
          -o-object-fit: cover;
          object-fit: cover;
          position: absolute;
          top: 90%;
          left: 81%;
          transform: translate(-50%, -50%);
        }

        .imgsArticle {
          width: calc(100% / var(--imgsLength));
          height: 100%;
        }
      }

      .boxUser {
        @include flexStart;
        gap: 10px;
        width: 100%;
        height: 50px;
        padding: 5px 10px 5px 10px;

        & h5 {
          font-weight: 700;
          font-size: 20px;
          text-shadow: 0.25px 0.25px 1px $black, 0.5px 0.5px 1px $black, 1px 1px 1px $black, 0px 0px 5px $black;
        }

        .imgAvatar {
          height: 30px;
          width: 30px;
        }
      }

      .boxTrashHearth {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        // border: 2px solid yellow;
        width: 100%;
        @include flexBetween;
        padding: 0 10px 0 10px;

        .btnTrash,
        .boxHearth {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          z-index: 200;
          @include flexCenter;
          font-size: 1.25rem;

          .svg-inline--fa {
            -webkit-filter: drop-shadow(0.25px 0.25px 1px $black) drop-shadow(0.5px 0.5px 1px $black);
            filter: drop-shadow(0.25px 0.25px 1px $black) drop-shadow(0.5px 0.5px 1px $black);
          }
        }

        .btnTrash {
          @include btn;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          background-color: transparent;
          color: $vertVinted;

          &:hover {
            background-color: transparent;
          }
        }
      }

      .footerArticle {
        padding: 5px 10px 5px 10px;
        gap: 5px;
        width: 100%;
        height: 50px;
        @include flexBetween;

        .boxNameMarque,
        .price {
          @include flexCenter;
          font-weight: 700;
          font-size: 14px;
          text-shadow: 0.25px 0.25px 1px $black, 0.5px 0.5px 1px $black, 1px 1px 1px $black, 0px 0px 5px $black;
        }

        .boxNameMarque {
          @include flexColStart;
          width: calc(50%);

          & div {
            display: inline-block;
            width: calc(100%);
            @include ellipsis;
            padding-bottom: 5px
          }
        }

        .price {
          @include flexEnd;
        }
      }
    }
  }
}

@media all and (min-width : 576px) {
  .boxOfferCard {
    justify-content: flex-start;

    & a {
      width: calc(100% / 2);

      & article {
        width: 95%;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .boxOfferCard {
    gap: 19px;


    & a {
      width: calc(100% / 4.20);

      & article {
        width: 100%;

      }
    }
  }
}

@media all and (min-width : 992px) {
  .boxOfferCard {

    & a {
      width: calc(100% / 4.25);
    }
  }
}

@media all and (min-width : 1200px) {
  .boxOfferCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .wrapper {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    a {
      @include flexStart;
      width: calc(100% / 4.22) !important;
    }
  }
}


// @media all and (min-width : 1400px) {}