.boxMyOffers {
  position: relative;
  width: 100%;
  @include flexCenter;

  .wrapper {
    @include flexColCenter;
  }

  .boxNoOffers {
    width: 100%;
    @include flexCenter;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

@media all and (min-width : 768px) {
  .boxMyOffers {
    height: calc(var(--fixHeight) - 100px);

    .wrapper {
      height: calc(100% - 100px);
      @include flexStart;

      .boxOfferCard {
        height: 100%;
      }
    }
  }
}

// @media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  .boxMyOffers {
    padding: 0;
  }
}

// @media all and (min-width : 1400px) {}