/* HOME */
.boxHome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 80px 0 50px 0;
}

@media all and (min-width : 576px) {}

@media all and (min-width : 768px) {}

@media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  .boxHome {
    padding: 40px 0 0 0;
  }
}

@media all and (min-width : 1400px) {}