.boxOfferIdUpdateAndDelete {
  @include flexCenter;
  height: 100%;
  padding-top: 90px;

  .wrapper {
    @include flexColCenter;
    gap: 5px;

    .left,
    .right {
      width: 100%;
      height: calc(100%/2);
    }

    .left {
      @include flexCenter;
      flex-wrap: wrap;
      // border: 2px solid red;
      gap: 1px;
      position: relative;

      .boxPictures {
        width: 100%;
        @include flexColTopStart;
        height: calc(100% / (var(--imgsLength)));

        & label {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 2px solid $vertVinted;
          background-color: whitesmoke;
          color: black;
          border-radius: 5px;
          padding: 10px;
        }

        & img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }

      }

      .boxInputPictures {
        @include flexCenter;
        height: 5%;
        width: 100%;
      }
    }

    .right {
      // border: 2px solid green;
      @include flexColCenter;
      width: 100%;
      overflow-y: auto;

      .boxOfferIdUpdateInput {
        width: 100%;
        gap: 10px;
        @include flexColBetween;
        padding: 5px 5px 50px 5px;

        & label {
          gap: 5px;
          width: 100%;
          @include flexColStart;

          & input,
          & textarea {
            width: 98%;
            @include flexColStart;
          }

          & input[type="submit"] {
            width: 99%;
          }
        }
      }

      .boxSubmitTrash {
        width: 100%;
        @include flexStart;
        gap: 5px;

        .classLabelInputSubmit {
          width: 50%;
        }

        .btnTrash {
          @include btn;

          &:hover svg {
            color: red;
          }
        }

        .btnTrash,
        .classLabelInput {
          width: 48.5%;
        }
      }
    }
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

// @media all and (min-width : 768px) {}

// @media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  .boxOfferIdUpdateAndDelete {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 0 !important;

    .wrapper {
      flex-direction: row;

      .left {
        .boxPictures {
          max-height: 82vh;
        }
      }

      .left,
      .right {
        width: calc(100%/2);
        height: 100%;
      }

      .right {
        .boxOfferIdUpdateInput {
          padding: 5px 2.5px 0px 2.5px;
        }
      }
    }
  }
}

// @media all and (min-width : 1400px) {}