.boxUserId {
  @include flexColCenter;
  gap: 20px;
  width: 100%;
  height: 100%;

  // .top {
  //   @include flexCenter;

  //   .title {
  //     padding: 20px;
  //   }
  // }

  .bottom {
    @include flexColCenter;
    gap: 20px;
    padding-bottom: 10px;
    height: 100%;

    .left {
      @include flexColCenter;
      gap: 5px;

      & img {
        width: 380px !important;
        height: 380px !important;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 10px 0 10px;
      gap: 1.25em;

      .boxEmailIsConfirmed {
        @include flexBetween;
        width: 100%;

        .infosEmailIsConfirmed {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          & h3 {
            width: calc(100%/3);
            @include flexStart;
          }

          & div {
            width: calc(100%/3);
            @include flexStart;
          }
        }

        .btnSendMailCode {
          @include btn;
          width: calc(100%/3);
        }
      }

      .boxDate,
      .boxEmailIsConfirmed {
        @include flexBetween;
        width: 100%;
      }

      .boxUsername,
      .boxEmail,
      .boxIsAdmin,
      .boxNewsletter,
      .boxDate,
      .boxId,
      .updateButton,
      .deleteButton {
        width: 100%;

        & label {
          display: flex;
          gap: 10px;

          & input {
            width: 100% !important;
          }
        }
      }

      .boxButton {
        @include flexCenter;
        gap: 5px;

        .updateButton,
        .deleteButton {
          height: 20px;
          @include flexCenter;
          padding: 15px;
          gap: 10px;
          width: 50%;

          & img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            border-radius: 5px;
          }
        }

        .updateButton {
          background-color: green;
        }

        .deleteButton {
          background-color: crimson;
        }
      }

    }

    .left,
    .right {
      min-width: calc(100% /2);
    }
  }
}

@media screen and (min-width: 1224px) {
  .boxUserId {
    .wrapper {
      .top {}

      .bottom {
        flex-direction: row;

        .left {
          & img {
            width: 400px;
            height: 400px;
          }
        }

        .right div label {
          @include flexColStart;
        }
      }
    }
  }
}