.boxDashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 5px;
  width: 100%;

  .top {
    min-height: calc(100% /2);
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    .left {
      // border: 2px solid $black;
      padding-bottom: 10px;

      .boxDetails {}
    }

    .right {
      // border: 2px solid green;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100% /2);
    // border: 2px solid yellow;
    gap: 5px;

    .left {

      // border: 2px solid peru;
      .boxDetails {}
    }

    .right {
      // border: 2px solid purple;
    }
  }

  .bottom,
  .top {

    .left,
    .right {
      .boxDetails {
        height: 86%;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .boxDashboard {

    .top,
    .bottom {
      flex-direction: row !important;

      .left,
      .right {
        width: calc(100% /2);
      }
    }
  }
}