.boxOffer {
  padding: 10px;
  width: 100%;
  height: 100%;

  .wrapper {
    @include flexColCenter;
    height: 100%;

    .top,
    .right {
      height: 100%;
    }

    .top {
      @include flexCenter;
      min-width: 100%;
      gap: 2.5%;
      // border: 1px solid purple;

      * {
        margin: 0;
        padding: 0;
      }

      .left,
      .right {
        box-shadow: 0px 0px 0.5px $vertVinted, 0px 0px 1px $vertVinted, 0px 0px 1.25px $vertVinted, 0px 0px 1.5px $vertVinted, 0px 0px 2px $vertVinted, 0px 0px 5px $vertVinted;
      }

      .left {
        width: 100%;
        @include flexCenter;
        height: 100%;

        .imgLeftAlone {
          width: 100%;
          @include flexCenter;
          height: 100%;


          .boxImgOffer {
            overflow: hidden;
            width: 100%;
            height: 100%;

            .prodImg {
              width: 100%;
              height: 100%;
              display: block;
              object-fit: cover;
              max-height: 78vh;
            }
          }
        }

        .imgLeft article {
          display: flex;
          height: 100%;
        }

        .imgLeft {
          width: 100%;
          @include flexCenter;
          height: 100%;



          .boxImgOffer {
            height: 100%;

            .prodPict0 {
              width: calc(1200px /2);
              height: 500px;
              display: block;
              object-fit: cover;
              height: 100%;
              max-height: 78vh;
            }
          }
        }


        .imgsRight {
          width: 100%;
          @include flexColCenter;
          height: 100%;

          & article {
            height: 100%;

            .boxImgOffer {
              display: flex;
              height: 100%;

              .prodPict {
                width: 100%;
                height: calc(100% / (var(--imgsLength)));
                object-fit: cover;
                display: block;
              }

              .prodPict100 {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
              }
            }
          }
        }
      }

      .right {
        width: calc(1200px /4);
        text-align: justify;
        padding: 10px;
        gap: 10px;
        background-color: var(--backLightInput);
        @include flexColBetween;

        .title {
          width: 100%;
          height: 5%;
          @include flexColCenter;
          gap: 5px
        }

        .boxLineOffer {
          @include flexCenter;
          width: 100%;

          .lineOffer {
            width: 70%;
            border-radius: 5px;
            border: 2px solid $vertVinted;
            @include boxShadow;
          }

        }

        .boxDetails {
          width: 100%;
          @include flexColAroundStart;

          & div {
            display: flex;
            justify-content: space-between;
            width: 100%;

            & div {
              width: 100%;
            }
          }

          & div:last-child {
            width: 100%;
            height: 15%;

            .imgOfferSold {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        .rightBottom {
          @include flexColStart;
          gap: 20px;
          width: 100%;

          .up {
            @include flexColStart;
            gap: 10px;
          }

          .down {
            width: 100%;
            @include flexColStart;
            gap: 10px;


            .boxUser {
              width: 100%;
              @include flexStart;
              gap: 20px;
            }

            .boxLinks {
              width: 100%;
              @include flexColStart;
              gap: 10px;

              & a {

                @include btn;
              }
            }
          }
        }
      }


    }

    .bottom {
      width: 100%;
      height: 30%;
    }
  }
}