.boxUserId {
  @include flexColCenter;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  .top {
    @include flexCenter;

    .title {
      padding: 20px;
    }
  }

  .bottom {
    @include flexCenter;
    gap: 20px;

    .left {
      @include flexColCenter;
      gap: 10px;

      & img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 5px;
      }

      .boxPictures {}
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 10px 0 10px;
      gap: 1.25em;

      .boxUsername,
      .boxEmail,
      .boxIsAdmin,
      .boxNewsletter,
      .boxDate,
      .boxId,
      .updateButton,
      .deleteButton {
        width: 100%;

        & input {
          width: 100% !important;
        }
      }

      .boxButton {
        @include flexCenter;
        gap: 5px;

        .updateButton,
        .deleteButton {
          height: 20px;
          @include flexCenter;
          padding: 15px;
          gap: 10px;
          width: 50%;

          & img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            border-radius: 5px;
          }
        }

        .updateButton {
          background-color: green;
        }

        .deleteButton {
          background-color: crimson;
        }
      }

    }

    .left,
    .right {
      min-width: calc(100% /2);
    }
  }
}