/* ARTICLE */
.boxArticles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    height: 250px;
    gap: 5px;
    background-color: rgb(189, 189, 189);
    border: 2px solid crimson;

    .boxImgArticle {
      width: 90%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      border: 2px solid blue;

      & img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }

    .boxUser {
      display: flex;
      align-items: center;
      gap: calc(100% / 8);
      width: 100%;
    }
  }
}






article .imgsArticle {}

.imgAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.boxSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #F5F6F7;
  border-radius: 5px;
  padding: 2px 2px 2px 10px;
}

.boxSearch input {
  background-color: transparent;
}

.search-icons {
  color: var(--vertVintDark);
  width: 14px;
}

button {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
}

.boxForm div label {
  padding: 5px 0 5px 0;
}

.boxForm input {
  margin: 5px 0 5px 0;
}