/* HEADER */
header {
  width: 100%;
  @include flexCenter;
  @include boxShadow;
  background-color: var(--backgHeader);
  position: sticky;
  top: 0;
  z-index: 600;


  .wrapper {
    @include flexCenter;

    .topHeader {
      @include flexColCenter;
      gap: 10px;
      padding: 5px 0px 5px 0px;
      width: 100%;

      .boxLogoTheme {
        @include flexStart;
        height: 30px;

        & svg {
          font-size: 14px;
        }

        &:hover {
          background-color: transparent;
        }

        & a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 30px;

          .logo {
            height: 30px;
          }
        }

        .buttonTheme {
          @include flexCenter;
        }
      }

      .containerBoxSearch {
        width: 100%;
        @include flexEnd;

        .boxSearch {
          @include flexCenter;
          gap: 2%;
          border-radius: 5px;
          padding: 2px 2px 2px 5px;
          width: 100%;
          height: 30px;
          @include boxShadow;
          background-color: $backgroundInput;
        }

        & button {
          width: 10%;
        }

        & input {
          box-shadow: none;
          border-bottom: none;
          width: 100%;
          background-color: transparent !important;

          &::placeholder {
            text-align: center;
          }
        }
      }

      & nav {
        @include flexBetween;
        width: 100%;

        & ul {
          @include flexCenter;
          gap: 10px;
          width: 100%;

          & li {
            @include flexCenter;
            border-radius: 5px;
            border: 2px solid $vertVinted;
            width: 100%;

            &:nth-child(1),
            &:nth-child(2) {
              width: 100%;
            }

            &:nth-child(1) {
              height: 30px;
              @include boxShadow;

              .buttonSignIn {

                & button {
                  @include btn;
                  background-color: transparent;
                  color: $vertVinted;
                  text-shadow: none;
                  border-right: 2px solid $vertVinted;
                  border-top-right-radius: 0px;
                  border-bottom-right-radius: 0px;
                  font-size: 14px;
                  cursor: pointer;

                  &:hover p {
                    color: $white;
                  }
                }
              }

              & div {
                width: 100%;

                & a {
                  width: 100%;

                  p {
                    @include btn;
                    background-color: transparent;
                    color: $vertVinted;
                    font-size: 14px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;

                    &:hover {
                      color: $white;
                    }
                  }
                }
              }
            }

            &:nth-child(2) {
              @include btn;
              @include flexBetween;
              @include boxShadow;

              & div:nth-child(1) {
                @include flexStart;
                width: 85%;
              }

              & div:nth-child(2) {
                @include flexCenter;
              }

              & a p {
                color: $white;
              }

              &:active {
                @include boxShadowInset;
              }
            }
          }
        }
      }

    }

    //filters visible if input#search not undefined
    .bottomHeader {
      @include flexColCenter;
      width: 100%;

      & div {
        width: 50%;
      }

      .dotBarLabel {
        display: none;
      }

      .dotBarPrice:hover .dotBarLabel {
        display: flex;
      }
    }
  }
}

.boxUser:active .imgAvatar {
  width: 20px;
  height: 20px;
}

.imgAvatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  @include boxShadow;
}

.searchIcons,
.filterIcons {
  color: $vertVinted;
  filter: drop-shadow(0px 0px 0.25px $black) drop-shadow(0.15px 0.15px 0.5px $black);
}

.btnFilter {
  width: 10%;
}

.filterIcons {
  padding-right: 10px;
}

@media all and (min-width : 576px) {}

@media all and (min-width: 768px) {
  nav {
    ul {
      display: flex;
      flex-direction: row !important;
    }
  }
}

@media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  header {
    min-height: 10vh;
    max-height: 10vh;

    .wrapper {
      .topHeader {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .boxLogoTheme {
          & a {
            height: 35px;

            .logo {
              height: 100%;
            }
          }

          .boxTheme {
            height: 35px;
            width: 30px;

            .buttonTheme {
              width: 100%;
              height: 100%;


              & svg {
                font-size: 15px;
              }
            }
          }
        }

        .boxLogoTheme,
        .containerBoxSearch,
        & nav {
          width: calc(100% /3) !important;
        }

        & nav {


          & ul {
            width: 100%;

            & li {

              &:nth-child(1),
              &:nth-child(2) {
                height: 30px;
              }

              &:nth-child(1) {
                width: calc(60%);
              }

              &:nth-child(2) {
                width: calc(40%);
              }
            }
          }
        }
      }
    }
  }
}

// @media all and (min-device-width : 1400px) {}