.boxLogin {
  width: 100%;
  height: 100vh;
  @include flexCenter;
  padding: 90px 0 50px 0;

  .wrapper {

    form {
      @include flexColCenter;
      gap: 10px;
      width: 100%;
      height: 100%;

      .boxForgot {
        .btnSubmitCode {
          @include btn;
          background-color: transparent;
          width: 100%;
          @include textShadow;
          font-weight: 600;

          &:hover {
            background-color: transparent;
            color: $vertVintedHovFoc;
            @include textShadow;
            font-weight: 600;

          }
        }
      }

      .classLabelInputSubmit {
        @include btn;
        width: 100%;
      }
    }
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

// @media all and (min-width : 768px) {}

// @media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  .boxLogin {
    padding: 0;

    .wrapper {
      & form {
        width: 30%;
      }
    }
  }
}

// @media all and (min-width : 1400px) {}