/* ARTICLE */
.boxArticles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & a {
    margin: auto;
    margin-bottom: 20px;

    & article {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 250px;
      height: 350px;
      gap: 5px;
      background-color: rgb(189, 189, 189);
      // border: 2px solid crimson;
      margin: auto;
      position: relative;

      .boxImgArticle {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        // border: 2px solid blue;

        .imgArticle {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .imgsArticle {
          width: calc(100% / var(--imgsLength));
          height: 100%;
        }
      }

      .boxUser {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 5px 0 0 5px;
      }

      .boxHearth {
        position: absolute;
        top: 78%;
        left: 90%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 200;
        @include flexCenter;
        border: 2px solid crimson;
        background-color: $white;
        color: transparent;
      }

      .footerArticle {
        padding: 5px 0 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        height: 50px;

        .description {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}

button {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
}