/* HOME */
.boxHome {
  @include flexColCenter;
  width: 100%;
  padding: 80px 0 50px 0;

  .wrapper {
    @include flexColCenter;
    gap: 5px;

    .boxContainerBtnChevron {
      @include flexColCenter;
      height: 80%;

      .btnChevronLeftOff {
        width: 100px;
        height: 30px;
      }

      .btnChevronLeft,
      .btnChevronRight {
        @include btn;
      }
    }
  }
}

@media all and (min-width : 576px) {}

@media all and (min-width : 768px) {
  .boxHome {
    display: flex;
    justify-content: space-between;

    .wrapper {
      flex-direction: row !important;
      height: calc(100% - 40px);
      gap: 0px;

      .btnChevronLeftOff {
        width: 32.5px;
      }

      .btnChevronLeft,
      .btnChevronRight {
        @include btn;
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
      }
    }
  }
}

@media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  .boxHome {
    padding: 40px 0 0 0;
    height: 100%;

    .wrapper {
      flex-direction: row !important;
      height: calc(100% - 40px);

      .btnChevronLeftOff {
        width: 32.5px;
      }

      .btnChevronLeft,
      .btnChevronRight {
        @include btn;
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
      }
    }
  }
}

@media all and (min-width : 1400px) {
  .boxContainerBtnChevron {
    height: 90% !important;
  }
}