.boxLastUsers {
  @include flexColTopStart;
  gap: 5px;
  padding: 5px;
  overflow-y: auto;
  height: calc(100%);

  & thead {
    @include flexStart;
    width: 100%;
    border: 2px solid $vertVinted;
    padding: 2px;
    border-radius: 5px;

    & tr {
      width: 100%;
      @include flexAround;

      .username,
      .email {
        width: 30%;
      }

      .date {
        width: 10%;
      }

      .avatar {
        width: 12%;
      }

      .news,
      .isAdmin,
      .isOnline {
        width: 6%;
      }

      & th {
        @include flexStart;
        @include ellipsis;
        height: 100%;
      }

      & th:not(:last-child) {
        border-right: 2px solid $vertVinted;
      }
    }
  }

  & a.boxUsers {
    @include flexStart;
    width: 100%;
    gap: 5px;
    background-color: $backLightUser;
    border-radius: 5px;
    border: 2px solid $vertVinted;
    height: 30px;

    .username,
    .avatar,
    .email,
    .news,
    .date,
    .isAdmin {
      @include flexStart;
      @include ellipsis;
      height: 20px;
    }

    .username,
    .email {
      width: 30%;
    }

    .date {
      width: 10%;
    }

    .avatar {
      width: 12%;
    }

    .news,
    .isAdmin,
    .isOnline {
      width: 6%;
    }

    .news,
    .isAdmin {
      filter: drop-shadow(0.10px 0.10px 1px black);
      color: $vertVinted;
    }

    .avatar {

      & img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 5px;
        margin-left: -5px;
      }
    }

    .username {
      @include ellipsis;
      padding-left: 5px;

      &:hover {
        overflow: visible;
      }
    }

    .date {
      width: 10%;
      @include flexStart;
      @include ellipsis;
    }

    .email {
      @include flexStart;
      @include ellipsis;
    }
  }
}