.boxForgotPsswd {
  width: 100%;

  .wrapper {
    height: 100vh;

    .boxFormForgot {
      @include flexColCenter;
      gap: 10px;
      width: 100%;

      .classLabelInput input {
        text-align: center;
      }

      .classLabelInputSubmit {
        width: 100%;
      }
    }
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

// @media all and (min-width : 768px) {}

@media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  .boxForgotPsswd {
    .wrapper .boxFormForgot {
      width: 30% !important;

      .boxPsswd .classLabelInput {
        & input {
          text-align: start;
          padding-left: 5px;
        }
      }
    }
  }
}

// @media all and (min-width : 1400px) {}