.boxLastSales {
  @include flexColTopStart;
  gap: 5px;
  padding: 0 2.5px 0 2.5px;
  width: 100%;

  & thead {
    @include flexStart;
    width: 100%;
    border: 2px solid $vertVinted;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    z-index: 10;
    margin-top: 2.5px;

    & tr {
      width: 100%;
      @include flexCenter;


      & th {
        width: calc(100%/5);
        @include ellipsis;
        @include flexStart;
        padding-left: 5px;
      }

      & th:not(:last-child) {
        border-right: 2px solid $vertVinted;
      }
    }
  }

  .boxTansactions {
    @include flexColTopStart;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    background-color: $backgWhite;
    overflow-y: auto;
    border: 2px solid $vertVinted;

    & a {
      width: 100%;
      color: $white;

      & tr {
        width: calc(100%);
        @include flexStart;

        & td {
          @include flexStart;
          width: calc(100%/5);
          padding-left: 5px;
          @include ellipsis;
        }

        .numCmd {
          padding-left: 6px;
        }
      }
    }
  }
}