/* HEADER */
header {
  width: 100%;
  display: block;
  @include flexCenter;


  .wrapper {

    .topHeader {

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      padding: 5px 0px 5px 0px;
      width: 100%;

      .boxLogoTheme {
        @include flexStart;

        & a {
          display: flex;
          justify-content: flex-start;
        }
      }

      & nav {
        @include flexBetween;
        padding: 0 0 5px 0;
        min-width: 100%;

        & ul {
          gap: 10px;
          width: 100%;

          & li {
            border-radius: 5px;
            border: 2px solid $vertVinted;

            & a {
              height: 30px;
              @include flexCenter;
            }

            & div {
              width: 100%;
              @include flexCenter;
              text-wrap: nowrap;
              height: 30px;
            }

            & div button,
            & div a {
              height: 100%;
              width: 100%;
              @include flexCenter;
              padding: 0px 2.5px 0px 2.5px;
            }

            & div button {
              border-right: 2.5px solid $vertVinted;
            }

            & a:not(li div a) {
              width: 100%;
              text-align: center;
            }

            &:nth-child(1),
            &:nth-child(2) {
              width: 50%;
            }

            &:nth-child(2) {
              background-color: $vertVinted;
              height: 30px;
              border: 2px solid $vertVinted;
              box-shadow: 0px 0px 4px $black, 0.5px 0.5px 2px $black;
              @include textShadow;

              & a {
                color: $white;
              }

              &:active {
                box-shadow: inset 0px 0px 4px $black, inset 0.5px 0.5px 2px $black;
              }
            }
          }

          .boxUser {
            @include flexAround;
            border: 2px solid $vertVinted;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        & ul,
        & ul li,
        & ul li:nth-child(2),
        & ul li div button,
        & ul li div a {
          @include flexCenter;
        }
      }

    }

    //filters visible if input#search not undefined
    .bottomHeader {
      @include flexColCenter;
      width: 100%;

      & div {
        width: 50%;
      }

      .dotBarLabel {
        display: none;
      }

      .dotBarPrice:hover .dotBarLabel {
        display: flex;
      }
    }
  }
}

.boxUser:active .imgAvatar {
  width: 20px;
  height: 20px;
}

.imgAvatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  @include boxShadow;
}

.boxSearch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  background-color: #F5F6F7;
  border-radius: 5px;
  padding: 2px 2px 2px 10px;
  width: 300px;
  height: 30px;
  @include boxShadow;
}

.search-icons {
  color: var(--vertVintDark);
  width: 14px;
}

@media all and (min-device-width : 576px) {
  header {
    min-height: 10vh;

    .wrapper {
      .topHeader {
        flex-direction: row !important;
        justify-content: space-between;

        .boxLogoTheme {
          width: calc(100%/3);
          display: flex;
          align-items: center;
        }

        .containerBoxSearch {
          width: 50%;
          display: flex;
          justify-content: center;
        }

        & nav {
          min-width: calc(100%/3);

          & ul {
            width: 100%;
            @include flexEnd;
            position: relative;

            .boxUser {
              @include flexAround;
              padding: 15px;


              .hello {
                @include flexStart;
              }

              .boxAvatar {
                width: 30%;
              }
            }

            & li {
              min-height: 30px;

              &:nth-child(1),
              &:nth-child(2) {
                width: 40%;
              }

              & div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;

                & a,
                & button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 30px;
                }
              }

              &:nth-child(2) {
                background-color: $vertVinted;
              }
            }
          }
        }
      }

      .bottomHeader {
        align-items: flex-start;

        & div:first-child {
          margin-left: 5%;
        }
      }

    }
  }
}

@media all and (min-width: 768px) {

  /* HEADER */
  header {
    min-height: 10vh;

    .wrapper {
      .topHeader {
        flex-direction: row !important;
        justify-content: space-between;

        .boxLogoTheme {
          width: calc(100%/3);
          display: flex;
          align-items: center;
        }

        .containerBoxSearch {
          width: 50%;
          display: flex;
          justify-content: center;
        }

        & nav {
          min-width: calc(100%/3);

          & ul {
            width: 100%;
            @include flexEnd;

            .boxUser {
              @include flexAround;
              padding: 15px;

              .hello {
                @include flexStart;
              }

              .boxAvatar {
                width: 30%;
              }
            }

            & li {
              min-height: 30px;

              &:nth-child(1),
              &:nth-child(2) {
                width: 40%;
              }

              & div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;

                & a,
                & button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 30px;
                }
              }

              &:nth-child(2) {
                background-color: $vertVinted;
              }
            }
          }
        }
      }

      .bottomHeader {
        align-items: flex-start;

        & div:first-child {
          margin-left: 5%;
        }
      }

    }
  }
}

@media all and (min-device-width : 992px) {}

@media all and (min-device-width : 1200px) {}

@media all and (min-device-width : 1400px) {}