.buttonTheme {
  width: 40px !important;
  height: 30px;
  border-radius: 5px;
  @include flexCenter;
  font-size: 16px;
  filter: drop-shadow(0.5px 0.5px 1px $black);

  &:hover {
    background-color: transparent;
  }
}