  //INPUT
  .classLabelInputHidden {
    display: none;
  }

  .classLabelInput {
    width: 100%;
    max-width: 100%;
    @include flexCenter;
    background-color: transparent;
    height: 30px;

    & input {
      -moz-appearance: none;
      appearance: none;
      -webkit-appearance: none;
      @include flexCenter;
      border-radius: 5px;
      outline: none;
      border: none;
      height: 100%;
      background-color: transparent;
      border-bottom: 2px solid $vertVinted;
      width: 100%;
      box-shadow: 0px 0px 1px $black, 0.10px 0.10px 1px $vertVinted, 0.20px 0.20px 1px $vertVinted, 0.30px 0.30px 1px $vertVinted;

      &::-webkit-input-placeholder {
        padding-left: 10px;
        font-size: 16px;
      }

      &::-moz-placeholder {
        padding-left: 10px;
        font-size: 16px;
      }

      &:-ms-input-placeholder {
        padding-left: 10px;
        font-size: 16px;
      }

      &::-ms-input-placeholder {
        padding-left: 10px;
        font-size: 16px;
      }

      &::placeholder {
        padding-left: 10px;
        font-size: 16px;
      }
    }

    & input:focus-visible {
      outline: transparent;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }

      &::-ms-input-placeholder {
        color: transparent;
      }

      &::placeholder {
        color: transparent;
      }
    }
  }

  //TXTAREA

  .labelTxtContact {
    width: 100%;
    max-width: 100%;
    @include flexCenter;

    & textarea {
      resize: none;
      border-radius: 5px;
      width: 100%;
      max-width: 100%;
      box-shadow: 0px 0px 1px $black, 0.10px 0.10px 1px $vertVinted, 0.20px 0.20px 1px $vertVinted, 0.30px 0.30px 1px $vertVinted;
      border: none;
      border-bottom: 2px solid $vertVinted;

      &::-webkit-input-placeholder {
        padding-left: 10px;
        font-size: 16px;
      }

      &::-moz-placeholder {
        padding-left: 10px;
        font-size: 16px;
      }

      &:-ms-input-placeholder {
        padding-left: 10px;
        font-size: 16px;
      }

      &::-ms-input-placeholder {
        padding-left: 10px;
        font-size: 16px;
      }

      &::placeholder {
        padding-left: 10px;
        font-size: 16px;
      }

    }

    & textarea:focus-visible {
      outline: transparent;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }

      &::-ms-input-placeholder {
        color: transparent;
      }

      &::placeholder {
        color: transparent;
      }
    }
  }