.boxFormInputCode {
  // border: 2px solid red;
  @include flexColCenter;
  width: 50%;
  gap: 25%;
  height: 50%;

  .boxContainerInputCode {
    @include flexCenter;
    // border: 2px solid green;
    gap: 2%;

    .classInputCode {
      width: 40px;
      height: 40px;
      background-color: transparent;
      font-size: 2rem;
      border: 1px solid green;
      box-shadow: 0px 0px 1px $vertVinted, 0.25px 0.25px 1px $vertVinted, inset 0px 0px 10px $vertVinted;
      text-align: center;
      border-radius: 5px;
    }
  }

  .submitInputCode {
    width: 290px !important;
  }
}