@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-100px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    box-shadow: 0px 0px 4px #2DB0BA, 0px 0px 6px #000000, 0px 0px 8px #2DB0BA;
  }

  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
    box-shadow: none;
  }

  55% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  70% {
    background-color: #2DB0BA;
  }

  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    border: 2px solid #000000;
  }

  95% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-color: #2DB0BA;
    border: 10px solid #000000;
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-100px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    box-shadow: 0px 0px 4px #2DB0BA, 0px 0px 6px #000000, 0px 0px 8px #2DB0BA;
  }

  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
    box-shadow: none;
  }

  55% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  70% {
    background-color: #2DB0BA;
  }

  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    border: 2px solid #000000;
  }

  95% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-color: #2DB0BA;
    border: 10px solid #000000;
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes appearLoaderTyping {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes appearLoaderTyping {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes appearLine {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearLine {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appearPanel {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearPanel {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appearFilter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearFilter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes disappearPanel {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes disappearPanel {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

//scale Articles
@keyframes scaleArticle {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@-webkit-keyframes scaleArticle {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

//box search
@keyframes appearBoxSearch {
  0% {
    width: 20px;
  }

  100% {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@-webkit-keyframes appearBoxSearch {
  0% {
    width: 20px;
  }

  100% {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

//input Search
@keyframes appearInputSearch {
  0% {
    opacity: 0;
    display: none;
  }

  75% {
    opacity: 0.3;
  }

  100% {
    display: flex;
    opacity: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@-webkit-keyframes appearInputSearch {
  0% {
    opacity: 0;
    display: none;
  }

  75% {
    opacity: 0.3;
  }

  100% {
    display: flex;
    opacity: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

//appearBlur
@keyframes appearBlur {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  50% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }

  85% {
    -webkit-filter: blur(0.75px);
    filter: blur(0.75px);
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@-webkit-keyframes appearBlur {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  50% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }

  85% {
    -webkit-filter: blur(0.75px);
    filter: blur(0.75px);
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

//rotate
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

//rotation pictures
.rotate {
  transform: rotate(var(--rotation, 0deg));
}