/* FORM */
.boxForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    & input::placeholder {
      color: $backPlaceholder;
    }

    & img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.boxFormCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxForm div,
.boxForm input {
  width: 100%;

}

.boxFormSignUp {
  @include flexColCenter;
}

form input:not(form input:last-child),
.boxFormSignUp form div input {
  padding: 2px;
  border-bottom: 1px solid $borderInput;
}

.boxFormSignUp form .boxPsswd {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $borderInput;
}

.boxFormSignUp form .boxPsswd input {
  min-width: 95%;
  padding: 1px;
  border-bottom: none;
}


form input:last-child:not(.boxFormSignUp form div input) {
  background-color: $vertVinted;
  box-shadow: 0px 0px 2px $black;
  color: $white;
  height: 30px;
  width: 100.25%;
}

input {
  border: none;
}

input:focus-visible {
  outline: transparent;
}

input:focus-visible::placeholder {
  opacity: 0;
}

.boxForm Form {
  width: 100%;
}

/* FORM TEXTAREA */
form textarea {
  width: 100%;
}