/* HEADER */
header {
  width: 100%;
  display: block;
  padding: 5px 10px 15px 0px;


  .wrapper {
    @include wrapper;


    .topHeader {
      @include flexColCenter;
      gap: 20px;

      .boxLogoTheme {
        @include flexCenter;

        & a .logo {
          width: 78px;
          height: 34.8px;
          object-fit: cover;
        }
      }

      & nav {
        @include flexCenter;
        padding: 0 0 5px 0;

        & ul {
          gap: 20px;
          @include flexColCenter;

          & li {
            width: 100%;
            border-radius: 5px;
            border: 2px solid $vertVinted;

            & div button,
            & div a {
              padding: 4px 8px 4px 8px;
              @include flexCenter;
            }

            & div button {
              border-right: 2px solid $vertVinted;
              border-width: 2px;
            }

            & a:not(li div a) {
              width: 100%;
              text-align: center;
            }

            &:nth-child(2) {
              background-color: #2DB0BA;
              box-shadow: 0px 0px 2px $black;

              & a {
                color: $white;
              }

              &:active {
                box-shadow: inset 0px 0px 2px $black;
              }
            }
          }

          .boxUser {
            @include flexCenter;
            width: fit-content;
            gap: 20px;
            border: 2px solid $vertVinted;
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        & ul,
        & ul li,
        & ul li:nth-child(2),
        & ul li div button,
        & ul li div a {
          @include flexCenter;
        }

        & ul li:nth-child(2),
        & ul li div button,
        & ul li div a {
          padding: 4px 8px 4px 8px;
        }
      }

    }

    .bottomHeader {
      @include flexColCenter;
      width: 100%;

      & div {
        width: 50%;
      }

      .dotBarLabel {
        display: none;
      }

      .dotBarPrice:hover .dotBarLabel {
        display: flex;
      }
    }
  }




}


@media (min-width: 768px) {

  /* HEADER */
  header {

    .wrapper {


      .topHeader {
        flex-direction: row !important;
        justify-content: space-between;

        & nav {


          & ul {
            flex-direction: row !important;

            & li {
              width: 200px;
              height: 30px;

              &:nth-child(2) {
                background-color: $vertVinted;
                padding: 4px 8px 4px 8px;
              }
            }
          }
        }
      }

      .bottomHeader {
        align-items: flex-start;

        & div:first-child {
          margin-left: 5%;
        }
      }

    }
  }

  /* FORM */
  .boxForm {
    width: 40%;
  }
}