/* HEADER */
header {
  width: 100%;
  display: block;
  height: 10vh;


  .wrapper {
    @include wrapper;

    //header always visible
    .topHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      padding: 5px 0px 5px 0px;

      .boxLogoTheme {
        @include flexStart;
        width: calc(100% / 3);

        & a .logo {
          width: 78px;
          height: 34.8px;
          object-fit: cover;
        }
      }

      & nav {
        @include flexCenter;
        padding: 0 0 5px 0;
        width: calc(100% / 3);

        & ul {
          gap: 20px;
          @include flexColCenter;
          width: 100%;

          & li {
            width: 100%;
            border-radius: 5px;
            border: 2px solid $vertVinted;
            width: calc(100% / 2);

            & div {
              height: 100%;
              width: 100%;

              .linkConnect {
                padding-bottom: 4px;
              }
            }

            & div button,
            & div a {
              height: 100%;
              width: 100%;
              // padding: 4px 8px 4px 8px;
              @include flexCenter;
            }

            & div button {
              border-right: 2.5px solid $vertVinted;
            }

            & a:not(li div a) {
              width: 100%;
              text-align: center;
            }

            &:nth-child(2) {
              background-color: #2DB0BA;
              box-shadow: 0px 0px 2px $black;

              & a {
                color: $white;
              }

              &:active {
                box-shadow: inset 0px 0px 2px $black;
              }
            }
          }

          .boxUser {
            @include flexCenter;
            gap: 20px;
            border: 2px solid $vertVinted;
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        & ul,
        & ul li,
        & ul li:nth-child(2),
        & ul li div button,
        & ul li div a {
          @include flexCenter;
        }
      }

    }

    //filters visible if input#search not undefined
    .bottomHeader {
      @include flexColCenter;
      width: 100%;

      & div {
        width: 50%;
      }

      .dotBarLabel {
        display: none;
      }

      .dotBarPrice:hover .dotBarLabel {
        display: flex;
      }
    }
  }
}

.imgAvatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.boxSearch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  background-color: #F5F6F7;
  border-radius: 5px;
  padding: 2px 2px 2px 10px;
  width: calc(100% / 3);
  height: 30px;
}

.boxSearch input {
  background-color: transparent;
  width: 100%;
}

.boxSearch input::placeholder {
  text-align: center;
}

.search-icons {
  color: var(--vertVintDark);
  width: 14px;
}

@media (min-width: 768px) {

  /* HEADER */
  header {

    .wrapper {


      .topHeader {
        flex-direction: row !important;
        justify-content: space-between;

        & nav {


          & ul {
            flex-direction: row !important;

            & li {
              width: 200px;
              height: 30px;

              &:nth-child(2) {
                background-color: $vertVinted;
                padding: 4px 8px 4px 8px;
              }
            }
          }
        }
      }

      .bottomHeader {
        align-items: flex-start;

        & div:first-child {
          margin-left: 5%;
        }
      }

    }
  }

  /* FORM */
  .boxForm {
    width: 40%;
  }
}