.boxImgs {
  margin-top: 6px;

  .imgBanner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: -6px;
    // @include flexColStart;
    object-position: center 28%;
  }

  .imgBannerBottom {
    width: 100%;
    margin-top: -80px;
  }
}