/* HOME */
.boxHome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  height: 50px;
}