/* LOADING */
.boxDot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
}

.boxDot h1 {
  font-size: 2rem;
  --text-shadow1w: #f8f6f6;
  --text-shadow2: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 4px var(--text-shadow1w), 1px 1px 1px #2DB0BA,
    2px 2px 4px #2DB0BA,
    2px 2px 2px var(--text-shadow2), 2px 2px 2px var(--text-shadow2), 2px 2px 4px var(--text-shadow2);
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
}

.dot1 {
  animation: bounce-in-top 2s ease-in-out 0.5s infinite normal both;
}

.dot2 {
  animation: bounce-in-top 2s ease-in-out 0.75s infinite normal both;
}

.dot3 {
  animation: bounce-in-top 2s ease-in-out 1s infinite normal both;
}