@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flexColAroundStart {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

@mixin flexColBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

@mixin flexColStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

@mixin flexColTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@mixin flexColTopStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@mixin flexColTopBetween {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

@mixin flexColEnd {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

@mixin flexColTopEnd {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}

@mixin btn {
  color: $white;
  background-color: $vertVinted;
  width: 100%;
  @include flexCenter;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  text-shadow: 0.25px 0.25px 1px #000000, 0.5px 0.5px 1px #000000;

  & p {
    text-shadow: 0.25px 0.25px 1px #000000, 0.5px 0.5px 1px #000000;

    &:hover,
    &:focus {
      text-shadow: 0.25px 0.25px 1px #000000, 0.5px 0.5px 1px #000000;
    }
  }

  &:hover,
  &:focus {
    background-color: $vertVintedHovFoc;
  }
}

@mixin textShadow {
  text-shadow: 0.25px 0.25px 1px $black, 0.5px 0.5px 1px $black;
}

@mixin boxShadow {
  box-shadow: 0px 0px 1px $black, 0.5px 0.5px 1px $black;
}

@mixin boxShadowInset {
  box-shadow: inset 0px 0px 1px $black, inset 0.5px 0.5px 1px $black;
}

@mixin boxShadowVinted {
  box-shadow: 0px 0px 2px $black, 0px 0px 2px $vertVinted, 0px 0px 2px $vertVinted, 0px 0px 10px $black;
}

@mixin boxShadowInsetVinted {
  box-shadow: inset 0px 0px 2px $black, inset 0px 0px 2px $vertVinted, inset 0px 0px 2px $vertVinted, inset 0px 0px 10px $black;
}

@mixin boxShadowInset {
  box-shadow: inset 0px 0px 4px $black, inset 0.5px 0.5px 2px $black;
}

@mixin dropShadowIcons {
  color: $vertVinted;
  -webkit-filter: drop-shadow(0px 0px 0.25px $black) drop-shadow(0.15px 0.15px 0.5px $black);
  filter: drop-shadow(0px 0px 0.25px $black) drop-shadow(0.15px 0.15px 0.5px $black);
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}