/* MODAL */
.boxModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 119, 130, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .boxModalContent {
    background-color: white;
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px #000000, 0px 0px 10px #000000;
    max-width: 90%;

    & div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      & img {
        object-fit: cover;
      }
    }

    & button {
      text-shadow: 1px 1px 2px white, 1.25px 1.25px 2.25px #000000;
      background-color: #f1f1f1f1;

      &:active {
        box-shadow: inset 0px 0px 2px #000000, inset 1px 1px 2px $black;
      }
    }
  }

  .boxModalContent div img,
  .boxModalContent button {
    width: 25px;
    height: 25px;
    border-radius: 7.5px;
    box-shadow: 0px 0px 4px #000000;
  }
}





//media Queries
@media (min-width: 300px) {

  /* MODAL */
  /* .boxModalContent {
    max-width: 90%;
  } */
}

@media (min-width: 576px) {

  /* MODAL */
  /* .boxModalContent {
    max-width: 60%;
  }

  .boxModalContent>div {
    width: 105%;
  } */
}