/* PUBLISH */
.boxFormPublish {
  width: 100%;

  #pictures {
    display: none;
  }

  .boxPicTop {
    width: 100%;
    height: 100%;
    @include flexColStart;
    border: 2px solid #ededed;
    padding: 80px;
    margin-top: 10%;
    margin-bottom: 2.5%;

    .boxPicBottom,
    .boxPicBottomEmpty {
      @include flexStart;
      width: 100%;
      // height: 200px;
      border: 2px dashed rgb(237, 237, 237, 0.7);
      gap: 5px;
      padding: 5px;
      flex-wrap: wrap;
      position: relative;

      #labelPic {
        @include flexCenter;
        width: fit-content;
        color: $vertVinted;
        font-size: 1.5rem;
        font-weight: 900;
        border: 2px solid $vertVinted;
        background-color: $white;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 500;
        box-shadow: 0px 0px 2px $black, 1px 1px 2px $black;

        &:active {
          box-shadow: inset 0px 0px 2px $black, inset 0px 0px 5px $black;
        }
      }
    }

    .boxPicBottom {
      .viewPics {
        width: fit-content;
        position: relative;

        & img {
          width: 200px;
          height: 200px;
          max-height: 200px;
          object-fit: cover;
        }

        .suppFiles,
        .rotateFiles {
          width: 20px;
          height: 20px;
          background-color: $white;
          border: 2px solid $vertVinted;
          @include flexCenter;
          border-radius: 5px;
          padding: 5px;
        }

        .suppFiles {
          position: absolute;
          top: 15%;
          left: 90%;
          transform: translate(-50%, -50%);
        }

        .rotateFiles {
          position: absolute;
          top: 85%;
          left: 90%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .boxPicBottomEmpty {
      border: none;
    }
  }

}