.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

button {
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
}

.hide {
  display: none;
}

.show {
  display: flex !important;
  color: $vertVinted;
}