.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div#root {
  @include flexColBetween;
  height: 100vh;
}

button {
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
}

input {
  @include inputText;
}

input[type="submit"] {
  @include btn;
}

input:not([type="submit"], [type="search"]) {
  border-bottom: 2px solid $borderInput;
}

.hide {
  display: none;
}

.show {
  display: flex !important;
  color: $vertVinted;
}

input:focus-visible,
textarea:focus-visible {
  outline: transparent;

  &::placeholder {
    color: transparent;
  }
}