//couleur Header
$vertVinted: #2DB0BA;
$white: #ffffff;

//couleur Form
$backPlaceholder: #b0b0b0;
$borderInput: rgba(255, 0, 0, 0.197);

//shadow
$black: #000000;

//backgroundPage
$backgdPage: rgba(110, 107, 96, 0.3);
$darkMode: #121212;

$backLightUser: #FAF9F6;
$backDarkLink: #343434;