//couleur Header
$vertVinted: #007882;
$vertVintedHovFoc: #33c6d0;
$vertVintedTxtArea: #6cf5ff;
$backgVinted: #b0faff;
$white: #ffffff;
$backgWhite: #f1f1f1f1;
$backgHeaderFooter: #c9c9c9;

//couleur Form
$backPlaceholder: #b0b0b0;
$borderInput: rgba(255, 0, 0, 0.197);

//shadow
$black: #000000;

//backgroundPage
$backgAside: rgb(52, 52, 52, 0.8);
$backgBodyAside: rgb(52, 52, 52);
$backgdPage: rgba(110, 107, 96, 0.3);
$darkMode: #121212;
$backgroundInput: #F5F6F7;

$backLightUser: #FAF9F6;
$backDarkLink: #343434;

//Aside
$backgrdAside: #36454F;