/* HEADER */
header {
  width: 100%;
  display: block;
  padding: 2.5px 10px 0px 10px;
  margin-bottom: 10px;
}

header .wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header a .logo {
  width: 78px;
  height: 34.8px;
  object-fit: cover;
}

header .wrapper nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 5px 0;
}

header .wrapper nav ul li {
  width: 180px;
  border-radius: 5px;
}

header .wrapper nav ul li div:not(header .wrapper nav ul li div:nth-child(2)),
header .wrapper nav ul li div button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 2.5px 0 2.5px 0;
}

header .wrapper nav ul li:nth-child(2):hover div:first-child a {
  padding: 2.9px 0 3.24px 0;
}

header .wrapper nav ul li a,
header .wrapper nav ul li button {
  color: #2DB0BA;
}

header .wrapper nav ul li div:hover a,
header .wrapper nav ul li div:hover button {
  color: white;
}

header .wrapper nav ul li:first-child {
  width: 100px;
}

header .wrapper nav ul,
header .wrapper nav ul li,
header .wrapper nav ul li:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .wrapper nav ul {
  gap: 5px;
  flex-direction: column;
}

header .wrapper nav ul li:nth-child(2) {
  border: 2px solid #2DB0BA;
  gap: 5px;
}

li div:nth-child(1):hover,
li div:nth-child(3):hover {
  background-color: #2DB0BA;
}

li div:nth-child(3) {
  margin-right: -2px;
}

li div:nth-child(1) {
  margin-left: -2px;
}

li:hover div:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

li:hover div:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

header .wrapper nav ul li:last-child,
header .wrapper nav ul li:last-child a {
  background-color: #2DB0BA;
  color: white;
}

header .wrapper nav ul li:last-child {
  border: 2px solid #2DB0BA;
}

.imgBanner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: -6px;
}

.imgBannerBottom {
  width: 100%;
  margin-top: -47px;
}

/* FORM */
.boxForm {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
}

.boxFormCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxForm div,
.boxForm input {
  width: 100%;

}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
}

form input:not(form input:last-child),
.boxFormSignUp form div input {
  padding: 2px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.197);
}

.boxFormSignUp form .boxPsswd {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 0, 0, 0.197);
}

.boxFormSignUp form .boxPsswd input {
  min-width: 95%;
  padding: 1px;
  border-bottom: none;
}

form input::placeholder {
  color: #b0b0b0;
}

form input:last-child:not(.boxFormSignUp form div input) {
  background-color: #2DB0BA;
  box-shadow: 0px 0px 2px #000000;
  color: #f1f1f1f1;
  height: 30px;
  width: 102%;
}

input {
  border: none;
}

input:focus-visible {
  outline: transparent;
}

input:focus-visible::placeholder {
  opacity: 0;
}

.boxForm Form {
  width: 100%;
}

.hide {
  display: none;
}

/* MODAL */
.boxModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 119, 130, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxModalContent {
  background-color: white;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: inset 0px 0px 10px #000000, 0px 0px 10px #000000;
  max-width: 90%;
}

.boxModalContent div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 115%;
}

.boxModalContent div img {
  object-fit: cover;
}

.boxModalContent button {
  text-shadow: 1px 1px 2px white, 1.25px 1.25px 2.25px #000000;
  background-color: #f1f1f1f1;
}

.boxModalContent div img,
.boxModalContent button {
  width: 25px;
  height: 25px;
  border-radius: 7.5px;
  box-shadow: 0px 0px 4px #000000;
}

.boxModalContent button:hover {
  box-shadow: inset 0px 0px 4px #000000;
}

.boxModalContent form {
  gap: 5px;
  padding: 1.5 rem 2rem 2rem 2rem;
}

.boxCheckBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.boxCheckBox input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

/* ARTICLE */
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  width: 150px;
  gap: 5px;
  background-color: rgb(189, 189, 189);
  border: 2px solid crimson;
}

article .boxUser {
  display: flex;
  align-items: center;
  gap: calc(100% / 4);
  width: 100%;
}

.imgAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.boxSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #F5F6F7;
  border-radius: 5px;
  padding: 2px 2px 2px 10px;
}

.boxSearch input {
  background-color: transparent;
}

.search-icons {
  color: var(--vertVintDark);
  width: 14px;
}

.imgsArticle {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

button {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
}

.boxForm div label {
  padding: 5px 0 5px 0;
}

.boxForm input {
  margin: 5px 0 5px 0;
}

/* ERROR MESSAGE */
.red {
  color: red;
}

/* LOADING */
.boxDot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
}

.boxDot h1 {
  font-size: 2rem;
  --text-shadow1w: #f8f6f6;
  --text-shadow2: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 4px var(--text-shadow1w), 1px 1px 1px #2DB0BA,
    2px 2px 4px #2DB0BA,
    2px 2px 2px var(--text-shadow2), 2px 2px 2px var(--text-shadow2), 2px 2px 4px var(--text-shadow2);
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
}

.dot1 {
  animation: bounce-in-top 2s ease-in-out 0.5s infinite normal both;
}

.dot2 {
  animation: bounce-in-top 2s ease-in-out 0.75s infinite normal both;
}

.dot3 {
  animation: bounce-in-top 2s ease-in-out 1s infinite normal both;
}

/* HOME */
.boxHome {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 300px) {

  /* MODAL */
  /* .boxModalContent {
    max-width: 90%;
  } */
}

@media (min-width: 576px) {

  /* MODAL */
  /* .boxModalContent {
    max-width: 60%;
  }

  .boxModalContent>div {
    width: 105%;
  } */
}

@media (min-width: 768px) {

  /* HEADER */
  header {
    height: 45px;
  }

  header .wrapper {
    justify-content: space-between;
    flex-direction: row;
  }

  header .wrapper nav ul {
    flex-direction: row;
  }

  header .wrapper nav ul li div {
    padding: 3.5px 0 3.5px 0;
  }

  header .wrapper nav ul li:not(li:nth-child(2)) {
    padding: 4px 6px 4px 6px;
  }

  /* FORM */
  .boxForm {
    width: 40%;
  }

  /* MODAL */
  /* .boxModalContent {
    max-width: 30%;
    height: 40%;
  } */

}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-100px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    box-shadow: 0px 0px 4px #2DB0BA, 0px 0px 6px #000000, 0px 0px 8px #2DB0BA;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
    box-shadow: none;
  }

  55% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  70% {
    background-color: #2DB0BA;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    border: 2px solid #000000;
  }

  95% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-color: #2DB0BA;
    border: 10px solid #000000;
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}