@keyframes bounce-in-top {
  0% {
    transform: translateY(-100px);
    animation-timing-function: ease-in;
    opacity: 0;
    box-shadow: 0px 0px 4px #2DB0BA, 0px 0px 6px #000000, 0px 0px 8px #2DB0BA;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
    box-shadow: none;
  }
  55% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  70% {
    background-color: #2DB0BA;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    border: 2px solid #000000;
  }
  95% {
    animation-timing-function: ease-out;
    background-color: #2DB0BA;
    border: 10px solid #000000;
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appearLoaderTyping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appearLine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearPanel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappearPanel {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scaleArticle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.rotate {
  transform: rotate(var(--rotation, 0deg));
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div#root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  height: 100vh;
}

button {
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
}

input {
  padding-left: 5px;
  outline: none;
  border: none;
  width: 100%;
  height: 20px;
}
input::-moz-placeholder {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input::placeholder {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}

input[type=submit] {
  color: #ffffff;
  background-color: #2DB0BA;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  text-shadow: 0px 0px 1px #000000, 0.25px 0.25px 1px #ffffff, 0.5px 0.5px 1px #000000;
}

input:not([type=submit], [type=search]) {
  border-bottom: 2px solid rgba(255, 0, 0, 0.197);
}

.hide {
  display: none;
}

.show {
  display: flex !important;
  color: #2DB0BA;
}

textarea {
  border: transparent;
}

input:focus-visible,
textarea:focus-visible {
  outline: transparent;
}
input:focus-visible::-moz-placeholder, textarea:focus-visible::-moz-placeholder {
  color: transparent;
}
input:focus-visible::placeholder,
textarea:focus-visible::placeholder {
  color: transparent;
}

.buttonTheme {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

/* LOADING */
.boxLines {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.line {
  width: 2.5px;
  height: 12.5px;
  background-color: #2DB0BA;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transform-origin: center;
}

.line1 {
  transform: rotate(0deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0s infinite both;
}

.line2 {
  transform: rotate(22.5deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0.1s infinite both;
}

.line3 {
  transform: rotate(45deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0.2s infinite both;
}

.line4 {
  transform: rotate(67.5deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0.3s infinite both;
}

.line5 {
  transform: rotate(90deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0.4s infinite both;
}

.line6 {
  transform: rotate(112.5deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0.5s infinite both;
}

.line7 {
  transform: rotate(135deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0.6s infinite both;
}

.line8 {
  transform: rotate(157.5deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0.7s infinite both;
}

.line9 {
  transform: rotate(180deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0.8s infinite both;
}

.line10 {
  transform: rotate(202.5deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 0.9s infinite both;
}

.line11 {
  transform: rotate(225deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 1s infinite both;
}

.line12 {
  transform: rotate(247.5deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 1.1s infinite both;
}

.line13 {
  transform: rotate(270deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 1.2s infinite both;
}

.line14 {
  transform: rotate(292.5deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 1.3s infinite both;
}

.line15 {
  transform: rotate(315deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 1.4s infinite both;
}

.line16 {
  transform: rotate(337.5deg) translate(0, -25px);
  animation: appearLine 1.5s ease-in-out 1.5s infinite both;
}

/* ERROR MESSAGE */
.red {
  color: red;
}

/* MODAL */
.boxModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 119, 130, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boxModal .boxModalContent {
  background-color: white;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: inset 0px 0px 10px #000000, 0px 0px 10px #000000;
  max-width: 90%;
}
.boxModal .boxModalContent div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.boxModal .boxModalContent div img {
  -o-object-fit: cover;
     object-fit: cover;
}
.boxModal .boxModalContent button {
  text-shadow: 0px 0px 1px #000000, 0.5px 0.5px 1px #ffffff, 1px 1px 1px #000000;
  background-color: rgba(241, 241, 241, 0.9450980392);
}
.boxModal .boxModalContent button:active {
  box-shadow: inset 0px 0px 2px #000000, inset 1px 1px 2px #000000;
}
.boxModal .boxModalContent div img,
.boxModal .boxModalContent button {
  width: 25px;
  height: 25px;
  border-radius: 7.5px;
  box-shadow: 0px 0px 4px #000000;
}

@media (min-width: 300px) {
  /* MODAL */
  /* .boxModalContent {
    max-width: 90%;
  } */
}
@media (min-width: 576px) {
  /* MODAL */
  /* .boxModalContent {
    max-width: 60%;
  }

  .boxModalContent>div {
    width: 105%;
  } */
}
/* HEADER */
header {
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .wrapper .topHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 5px 0px 5px 0px;
  width: 100%;
}
header .wrapper .topHeader .boxLogoTheme {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .wrapper .topHeader .boxLogoTheme a {
  display: flex;
  justify-content: flex-start;
}
header .wrapper .topHeader nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 5px 0;
  min-width: 62.5%;
}
header .wrapper .topHeader nav ul {
  gap: 10px;
  width: 100%;
}
header .wrapper .topHeader nav ul li {
  border-radius: 5px;
  border: 2px solid #2DB0BA;
}
header .wrapper .topHeader nav ul li a {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .wrapper .topHeader nav ul li div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  height: 30px;
}
header .wrapper .topHeader nav ul li div button, header .wrapper .topHeader nav ul li div a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2.5px 0px 2.5px;
}
header .wrapper .topHeader nav ul li div button {
  border-right: 2.5px solid #2DB0BA;
}
header .wrapper .topHeader nav ul li a:not(li div a) {
  width: 100%;
  text-align: center;
}
header .wrapper .topHeader nav ul li:nth-child(1) {
  width: 55%;
}
header .wrapper .topHeader nav ul li:nth-child(2) {
  background-color: #2DB0BA;
  height: 30px;
  width: 45%;
  border: 2px solid #2DB0BA;
  box-shadow: 0px 0px 4px #000000, 0.5px 0.5px 2px #000000;
  text-shadow: 0px 0px 1px #000000, 0.5px 0.5px 1px #ffffff, 1px 1px 1px #000000;
}
header .wrapper .topHeader nav ul li:nth-child(2) a {
  color: #ffffff;
}
header .wrapper .topHeader nav ul li:nth-child(2):active {
  box-shadow: inset 0px 0px 4px #000000, inset 0.5px 0.5px 2px #000000;
}
header .wrapper .topHeader nav ul .boxUser {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #2DB0BA;
  border-radius: 5px;
  cursor: pointer;
}
header .wrapper .topHeader nav ul, header .wrapper .topHeader nav ul li, header .wrapper .topHeader nav ul li:nth-child(2), header .wrapper .topHeader nav ul li div button, header .wrapper .topHeader nav ul li div a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .wrapper .bottomHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
header .wrapper .bottomHeader div {
  width: 50%;
}
header .wrapper .bottomHeader .dotBarLabel {
  display: none;
}
header .wrapper .bottomHeader .dotBarPrice:hover .dotBarLabel {
  display: flex;
}

.boxUser:active .imgAvatar {
  width: 20px;
  height: 20px;
}

.imgAvatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px #000000, 0px 0px 2px #000000;
}

.boxSearch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  background-color: #F5F6F7;
  border-radius: 5px;
  padding: 2px 2px 2px 10px;
  width: 300px;
  height: 30px;
  box-shadow: 0px 0px 4px #000000, 0px 0px 2px #000000;
}

.search-icons {
  color: var(--vertVintDark);
  width: 14px;
}

@media all and (min-width: 768px) {
  /* HEADER */
  header {
    min-height: 10vh;
  }
  header .wrapper .topHeader {
    flex-direction: row !important;
    justify-content: space-between;
  }
  header .wrapper .topHeader .boxLogoTheme {
    width: 33.3333333333%;
    display: flex;
    align-items: center;
  }
  header .wrapper .topHeader .containerBoxSearch {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  header .wrapper .topHeader nav {
    width: 33.3333333333%;
  }
  header .wrapper .topHeader nav ul {
    width: 100%;
  }
  header .wrapper .topHeader nav ul li {
    min-height: 30px;
  }
  header .wrapper .topHeader nav ul li div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
  header .wrapper .topHeader nav ul li div a, header .wrapper .topHeader nav ul li div button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
  header .wrapper .topHeader nav ul li:nth-child(2) {
    background-color: #2DB0BA;
    width: 65%;
  }
  header .wrapper .bottomHeader {
    align-items: flex-start;
  }
  header .wrapper .bottomHeader div:first-child {
    margin-left: 5%;
  }
}
.boxImgs {
  margin-top: 6px;
}
.boxImgs .imgBanner {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -6px;
  -o-object-position: center 28%;
     object-position: center 28%;
}
.boxImgs .imgBannerBottom {
  width: 100%;
  margin-top: -80px;
}

/* HOME */
.boxHome {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.boxHome .wrapper {
  flex: 1;
}

/* ARTICLE */
.boxArticles {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 5%;
  font-size: 1.15rem;
  padding: 10px;
}
.boxArticles a {
  margin-bottom: 20px;
}
.boxArticles a article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 250px;
  height: 350px;
  gap: 5px;
  background-color: rgb(189, 189, 189);
  margin: auto;
  position: relative;
}
.boxArticles a article:hover {
  animation: scaleArticle 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
.boxArticles a article .boxImgArticle {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.boxArticles a article .boxImgArticle .imgArticle {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.boxArticles a article .boxImgArticle .classBannerSold {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 90%;
  left: 81%;
  transform: translate(-50%, -50%);
}
.boxArticles a article .boxImgArticle .imgsArticle {
  width: calc(100% / var(--imgsLength));
  height: 100%;
}
.boxArticles a article .boxUser {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px 10px 5px 10px;
}
.boxArticles a article .boxHearth {
  position: absolute;
  top: 75%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  box-shadow: 0px 0px 1px #000000;
}
.boxArticles a article .footerArticle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px 10px 5px 10px;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.boxArticles a article .footerArticle .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.boxOffer {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.boxOffer .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.boxOffer .wrapper .top,
.boxOffer .wrapper .right {
  height: 100%;
}
.boxOffer .wrapper .top {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  gap: 2.5%;
}
.boxOffer .wrapper .top * {
  margin: 0;
  padding: 0;
}
.boxOffer .wrapper .top .left,
.boxOffer .wrapper .top .right {
  box-shadow: 0px 0px 0.5px #2DB0BA, 0px 0px 1px #2DB0BA, 0px 0px 1.25px #2DB0BA, 0px 0px 1.5px #2DB0BA, 0px 0px 2px #2DB0BA, 0px 0px 5px #2DB0BA;
}
.boxOffer .wrapper .top .left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.boxOffer .wrapper .top .left .imgLeftAlone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.boxOffer .wrapper .top .left .imgLeftAlone .boxImgOffer {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.boxOffer .wrapper .top .left .imgLeftAlone .boxImgOffer .prodImg {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.boxOffer .wrapper .top .left .imgLeft article {
  display: flex;
  height: 100%;
}
.boxOffer .wrapper .top .left .imgLeft {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.boxOffer .wrapper .top .left .imgLeft .boxImgOffer {
  height: 100%;
}
.boxOffer .wrapper .top .left .imgLeft .boxImgOffer .prodPict0 {
  width: 600px;
  height: 500px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.boxOffer .wrapper .top .left .imgsRight {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.boxOffer .wrapper .top .left .imgsRight article {
  height: 100%;
}
.boxOffer .wrapper .top .left .imgsRight article .boxImgOffer {
  display: flex;
  height: 100%;
}
.boxOffer .wrapper .top .left .imgsRight article .boxImgOffer .prodPict {
  width: 100%;
  height: calc(100% / (var(--imgsLength)));
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.boxOffer .wrapper .top .left .imgsRight article .boxImgOffer .prodPict100 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.boxOffer .wrapper .top .right {
  width: 300px;
  text-align: justify;
  padding: 10px;
  gap: 10px;
  background-color: var(--backLightInput);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.boxOffer .wrapper .top .right .title {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.boxOffer .wrapper .top .right .boxLineOffer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.boxOffer .wrapper .top .right .boxLineOffer .lineOffer {
  width: 70%;
  border-radius: 5px;
  border: 2px solid #2DB0BA;
  box-shadow: 0px 0px 4px #000000, 0px 0px 2px #000000;
}
.boxOffer .wrapper .top .right .boxDetails {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.boxOffer .wrapper .top .right .boxDetails div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.boxOffer .wrapper .top .right .boxDetails div div {
  width: 100%;
}
.boxOffer .wrapper .top .right .boxDetails div:last-child {
  width: 100%;
  height: 15%;
}
.boxOffer .wrapper .top .right .boxDetails div:last-child .imgOfferSold {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.boxOffer .wrapper .top .right .rightBottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.boxOffer .wrapper .top .right .rightBottom .up {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.boxOffer .wrapper .top .right .rightBottom .down {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.boxOffer .wrapper .top .right .rightBottom .down .boxUser {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.boxOffer .wrapper .top .right .rightBottom .down .boxLinks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.boxOffer .wrapper .top .right .rightBottom .down .boxLinks a {
  color: #ffffff;
  background-color: #2DB0BA;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  text-shadow: 0px 0px 1px #000000, 0.25px 0.25px 1px #ffffff, 0.5px 0.5px 1px #000000;
}
.boxOffer .wrapper .bottom {
  width: 100%;
  height: 30%;
}

.boxShoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(110, 107, 96, 0.3);
  padding: 20px;
}
.boxShoppingCart .wrapper .shoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
}
.boxShoppingCart .wrapper .shoppingCart h1 {
  padding: 0 0 10px 0;
}
.boxShoppingCart .wrapper .shoppingCart .top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.boxShoppingCart .wrapper .shoppingCart .top .command {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.boxShoppingCart .wrapper .shoppingCart .top .coast {
  width: 100%;
}
.boxShoppingCart .wrapper .shoppingCart .top .coast div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxShoppingCart .wrapper .shoppingCart .top .coast div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.boxShoppingCart .wrapper .shoppingCart .top .total {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.boxShoppingCart .wrapper .shoppingCart .top .total div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.boxShoppingCart .wrapper .shoppingCart .line {
  margin: 10px 0 10px 0;
  border: 2px solid rgba(110, 107, 96, 0.3);
  height: 2px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 2.5px 1.5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 1px 2.5px 1.5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 2.5px 1.5px rgba(0, 0, 0, 0.7);
}
.boxShoppingCart .wrapper .shoppingCart .bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  font-size: 1.25rem;
}
.boxShoppingCart .wrapper .shoppingCart .bottom .resumCommand {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.boxShoppingCart .wrapper .shoppingCart .bottom .resumCommand .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.boxShoppingCart .wrapper .shoppingCart .bottom .resumCommand .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 5px 3.5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 5px 3.5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 5px 3.5px rgba(0, 0, 0, 0.7);
}
.boxShoppingCart .wrapper .shoppingCart .bottom form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.boxShoppingCart .wrapper .shoppingCart .bottom form form,
.boxShoppingCart .wrapper .shoppingCart .bottom form .StripeElement {
  padding: 10px;
  border-radius: 5px;
}
.boxShoppingCart .wrapper .shoppingCart .bottom form div {
  width: 100%;
}
.boxShoppingCart .wrapper .shoppingCart .bottom form button {
  background-color: #2DB0BA;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.15rem;
  border-radius: 5px;
  padding: 5px;
}

.CookieConsent {
  background: rgb(45, 176, 186) !important;
  background: linear-gradient(90deg, rgb(45, 176, 186) 50%, rgb(255, 255, 255) 100%) !important;
  color: #000000 !important;
  text-shadow: 1px 1px 1px white, 1.25px 1.25px 1px #2DB0BA, 0px 0px 1px #000000;
  font-weight: 700 !important;
  font-size: 1.2rem !important;
  padding: 10px 40px 10px 20px;
}
.CookieConsent div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.CookieConsent div:nth-child(2) button {
  font-weight: 500 !important;
  font-size: 1.1rem !important;
  background-color: #2DB0BA !important;
  color: #ffffff !important;
  text-shadow: 1px 1px 2px #000000, 1.5px 1.5px 2px #2DB0BA, 2px 2px 2px #000000;
  width: 200px;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px 3.5px #000000 !important;
  -moz-box-shadow: 0px 0px 5px 3.5px #000000 !important;
  -webkit-box-shadow: 0px 0px 5px 3.5px #000000 !important;
}
.CookieConsent div:nth-child(2) button:active {
  box-shadow: inset 0px 0px 5px 3.5px #000000 !important;
  -moz-box-shadow: inset 0px 0px 5px 3.5px #000000 !important;
  -webkit-box-shadow: inset 0px 0px 5px 3.5px #000000 !important;
}

.boxDashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  gap: 5px;
  width: 100%;
}
.boxDashboard .top {
  min-height: 40vh;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.boxDashboard .top .left {
  border: 2px solid #000000;
  padding-bottom: 10px;
}
.boxDashboard .top .right {
  border: 2px solid green;
}
.boxDashboard .bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 40vh;
  border: 2px solid yellow;
  gap: 5px;
}
.boxDashboard .bottom .left {
  border: 2px solid peru;
}
.boxDashboard .bottom .right {
  border: 2px solid purple;
}

@media all and (min-width: 768px) {
  .boxDashboard .top,
  .boxDashboard .bottom {
    flex-direction: row !important;
  }
  .boxDashboard .top .left,
  .boxDashboard .top .right,
  .boxDashboard .bottom .left,
  .boxDashboard .bottom .right {
    width: 50%;
  }
}
.boxLastUsers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 15px 0 15px;
  overflow-y: auto;
}
.boxLastUsers .boxUsers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 2px solid green;
}
.boxLastUsers .boxUsers .username {
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.boxLastUsers .boxUsers .username:hover {
  overflow: visible;
}
.boxLastUsers .boxUsers .avatar {
  width: 40px;
}
.boxLastUsers .boxUsers .email {
  flex: 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.boxLastUsers .boxUsers .date {
  flex: 1 40px;
}
.boxLastUsers .boxUsers .isAdmin,
.boxLastUsers .boxUsers .news {
  width: 20px;
}
.boxLastUsers .boxUsers div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.boxLastUsers .boxUsers a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 5px;
  background-color: #FAF9F6;
}
.boxLastUsers .boxUsers a .avatar img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

@media all and (min-width: 768px) {
  .boxUsers div {
    display: flex;
    justify-content: space-around;
  }
  .boxUsers .email {
    flex: 1;
  }
}
.boxUserId {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.boxUserId .top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxUserId .top .title {
  padding: 20px;
}
.boxUserId .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.boxUserId .bottom .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.boxUserId .bottom .left img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.boxUserId .bottom .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10px 0 10px;
  gap: 1.25em;
}
.boxUserId .bottom .right .boxUsername,
.boxUserId .bottom .right .boxEmail,
.boxUserId .bottom .right .boxIsAdmin,
.boxUserId .bottom .right .boxNewsletter,
.boxUserId .bottom .right .boxDate,
.boxUserId .bottom .right .boxId,
.boxUserId .bottom .right .updateButton,
.boxUserId .bottom .right .deleteButton {
  width: 100%;
}
.boxUserId .bottom .right .boxUsername input,
.boxUserId .bottom .right .boxEmail input,
.boxUserId .bottom .right .boxIsAdmin input,
.boxUserId .bottom .right .boxNewsletter input,
.boxUserId .bottom .right .boxDate input,
.boxUserId .bottom .right .boxId input,
.boxUserId .bottom .right .updateButton input,
.boxUserId .bottom .right .deleteButton input {
  width: 100% !important;
}
.boxUserId .bottom .right .boxButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.boxUserId .bottom .right .boxButton .updateButton,
.boxUserId .bottom .right .boxButton .deleteButton {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  width: 50%;
}
.boxUserId .bottom .right .boxButton .updateButton img,
.boxUserId .bottom .right .boxButton .deleteButton img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.boxUserId .bottom .right .boxButton .updateButton {
  background-color: green;
}
.boxUserId .bottom .right .boxButton .deleteButton {
  background-color: crimson;
}
.boxUserId .bottom .left,
.boxUserId .bottom .right {
  min-width: 50%;
}

.toggleNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  position: absolute;
  top: 5.5%;
  right: 19%;
  z-index: 200;
  background-color: #ffffff;
  animation: appearPanel 0.5s linear 0.25s 1 normal both;
  box-shadow: 0px 0px 1px #2DB0BA;
  gap: 10px;
  padding: 10px;
}
.toggleNav a {
  color: #9e9e9e;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.toggleNav a:active {
  box-shadow: inset 0px 0px 5px #000000, inset 0px 0px 5px #2DB0BA;
}
.toggleNav a p {
  font-size: 1.15rem;
  text-shadow: 0.25px 0.25px 1px #000000;
}
.toggleNav button {
  color: red;
}

.hideToggle {
  display: none;
  animation: disappearPanel 1s linear 0.25s 1 normal both;
}

/* FORM */
.boxForm {
  width: 100%;
  height: 100%;
  display: flex;
}
.boxForm .wrapper {
  height: 100%;
  padding-bottom: 20px;
}
.boxForm #pictures {
  display: none;
}
.boxForm .boxPicTop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid #ededed;
  margin-bottom: 2.5%;
}
.boxForm .boxPicTop .boxPicBottom {
  padding: 5px 0px 5px 5px;
}
.boxForm .boxPicTop .boxPicBottomEmpty {
  padding: 110px;
}
.boxForm .boxPicTop .boxPicBottom,
.boxForm .boxPicTop .boxPicBottomEmpty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 2px dashed rgba(237, 237, 237, 0.7);
  gap: 5px;
  flex-wrap: wrap;
  position: relative;
}
.boxForm .boxPicTop .boxPicBottom #labelPic,
.boxForm .boxPicTop .boxPicBottomEmpty #labelPic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  color: #2DB0BA;
  font-size: 1.5rem;
  font-weight: 900;
  border: 2px solid #2DB0BA;
  background-color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  box-shadow: 0px 0px 2px #000000, 1px 1px 2px #000000;
  transition: all 1s ease-in-out;
}
.boxForm .boxPicTop .boxPicBottom #labelPic:active,
.boxForm .boxPicTop .boxPicBottomEmpty #labelPic:active {
  box-shadow: inset 0px 0px 2px #000000, inset 0px 0px 5px #000000;
}
.boxForm .boxPicTop .boxPicBottom .viewPics {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.boxForm .boxPicTop .boxPicBottom .viewPics img {
  width: 200px;
  height: 200px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.boxForm .boxPicTop .boxPicBottom .viewPics .suppFiles,
.boxForm .boxPicTop .boxPicBottom .viewPics .rotateFiles {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #2DB0BA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.boxForm .boxPicTop .boxPicBottom .viewPics .suppFiles {
  position: absolute;
  top: 15%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.boxForm .boxPicTop .boxPicBottom .viewPics .rotateFiles {
  position: absolute;
  top: 85%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.boxForm .boxPicTop .boxPicBottomEmpty {
  border: none;
}
.boxForm div label {
  padding: 5px 0 5px 0;
}
.boxForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.boxForm form img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.boxForm form input, .boxForm form textarea, .boxForm form div.boxPsswd {
  width: 100%;
  box-shadow: 0px 0px 4px #000000, 0px 0px 2px #000000;
}
.boxForm form .boxCheckBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.boxForm form .boxCheckBox input[type=checkbox] {
  width: 15px;
  height: 15px;
}
.boxForm form .boxCheckBox span {
  width: 85%;
}
.boxForm form .boxPsswd {
  border-bottom: 1px solid rgba(255, 0, 0, 0.197);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F6F7;
}
.boxForm form .boxPsswd #password {
  border-bottom: none;
  background-color: transparent;
}

.boxFormCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form input:not(form input:last-child),
.boxFormSignUp form div input {
  padding: 2px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.197) !important;
}

form input:last-child:not(.boxFormSignUp form div input) {
  background-color: #2DB0BA;
  box-shadow: 0px 0px 2px #000000;
  color: #ffffff;
  height: 30px;
  width: 100.25%;
}

@media all and (min-width: 768px) {
  /* FORM */
  .boxForm form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .boxForm form .wrapper {
    height: 100%;
  }
}
.boxLogin {
  width: 30%;
}
.boxLogin input[type=submit] {
  height: 30px;
}

.boxLastSales {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 15px 0 15px;
}
.boxLastSales .boxTansactions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 2px solid #2DB0BA;
  border-radius: 5px;
  background-color: #343434;
}
.boxLastSales .boxTansactions a {
  width: 100%;
  color: #ffffff;
}
.boxLastSales .boxTansactions a table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.boxLastSales .boxTansactions a table thead {
  border-bottom: 2px solid #2DB0BA;
}
.boxLastSales .boxTansactions a table thead,
.boxLastSales .boxTansactions a table body {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 2.5px;
  padding-left: 5px;
}
.boxLastSales .boxTansactions a table thead > tr, .boxLastSales .boxTansactions a table body > td {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-wrap: nowrap;
  padding: 5px;
  overflow: hidden;
}
.boxLastSales .boxTansactions a table thead > tr:not(tr:last-child), .boxLastSales .boxTansactions a table body > td:not(td:last-child) {
  border-right: 2px solid #2DB0BA;
}

.boxTransactionId {
  width: 100%;
  height: 100%;
}
.boxTransactionId .wrapper {
  height: 100%;
}
.boxTransactionId .wrapper .transactionId {
  height: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boxTransactionId .wrapper .transactionId a {
  box-shadow: 0px 0px 2px #000000, 0px 0px 2px #2DB0BA, 0px 0px 2px #2DB0BA, 0px 0px 10px #000000;
  padding: 10px;
}
.boxTransactionId .wrapper .transactionId a:active {
  box-shadow: inset 0px 0px 2px #000000, inset 0px 0px 2px #2DB0BA, inset 0px 0px 2px #2DB0BA, inset 0px 0px 10px #000000;
}
.boxTransactionId .wrapper .transactionId .left,
.boxTransactionId .wrapper .transactionId .middle,
.boxTransactionId .wrapper .transactionId .right {
  width: 33.3333333333%;
  height: 80%;
}
.boxTransactionId .wrapper .transactionId .left h3,
.boxTransactionId .wrapper .transactionId .middle h3,
.boxTransactionId .wrapper .transactionId .right h3 {
  height: 20px;
}
.boxTransactionId .wrapper .transactionId .left .boxInfos,
.boxTransactionId .wrapper .transactionId .middle .boxInfos,
.boxTransactionId .wrapper .transactionId .right .boxInfos {
  height: calc(100% - 20px);
}
.boxTransactionId .wrapper .transactionId .left .boxInfos .top,
.boxTransactionId .wrapper .transactionId .left .boxInfos .middle,
.boxTransactionId .wrapper .transactionId .middle .boxInfos .top,
.boxTransactionId .wrapper .transactionId .middle .boxInfos .middle,
.boxTransactionId .wrapper .transactionId .right .boxInfos .top,
.boxTransactionId .wrapper .transactionId .right .boxInfos .middle {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxTransactionId .wrapper .transactionId .left .boxInfos .middle,
.boxTransactionId .wrapper .transactionId .middle .boxInfos .middle,
.boxTransactionId .wrapper .transactionId .right .boxInfos .middle {
  width: 100%;
}
.boxTransactionId .wrapper .transactionId .left .boxInfos .bottom,
.boxTransactionId .wrapper .transactionId .middle .boxInfos .bottom,
.boxTransactionId .wrapper .transactionId .right .boxInfos .bottom {
  height: 50%;
}
.boxTransactionId .wrapper .transactionId .left .boxInfos .bottom img,
.boxTransactionId .wrapper .transactionId .middle .boxInfos .bottom img,
.boxTransactionId .wrapper .transactionId .right .boxInfos .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.boxTransactionId .wrapper .transactionId .middle .boxInfos .top .name,
.boxTransactionId .wrapper .transactionId .middle .boxInfos .middle .price,
.boxTransactionId .wrapper .transactionId .middle .boxInfos .bottom .date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.boxTransactionId .wrapper .transactionId .middle .boxInfos .bottom .date {
  height: 100%;
}

.boxFormInputCode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  gap: 25%;
  height: 50%;
}
.boxFormInputCode .boxContainerInputCode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.boxFormInputCode .boxContainerInputCode .classInputCode {
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 2rem;
  border: 1px solid green;
  box-shadow: 0px 0px 1px #2DB0BA, 0.25px 0.25px 1px #2DB0BA, inset 0px 0px 10px #2DB0BA;
  text-align: center;
  border-radius: 5px;
}
.boxFormInputCode .submitInputCode {
  width: 290px !important;
}

.boxLoaderTyping {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 5%;
  height: 12.5px;
}
.boxLoaderTyping .circleTyping {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2DB0BA;
  box-shadow: 0px 0px 1px #000000, 0.25px 0.25px 1px #ffffff, 0.5px 0.5px 1px #000000;
}
.boxLoaderTyping .circleTyping1 {
  animation: appearLoaderTyping 1s ease-in-out 0.3s infinite both;
}
.boxLoaderTyping .circleTyping2 {
  animation: appearLoaderTyping 1s ease-in-out 0.6s infinite both;
}
.boxLoaderTyping .circleTyping3 {
  animation: appearLoaderTyping 1s ease-in-out 0.9s infinite both;
}

.boxChat {
  display: flex;
  height: 100%;
  width: 100%;
}
.boxChat .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 10px 0px 10px 0px;
}
.boxChat .wrapper .boxChatInfos {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.boxChat .wrapper .boxChatInfos .boxLoaderTyping {
  width: 50%;
}
.boxChat .wrapper .boxMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  gap: 8px;
  overflow-x: hidden;
  width: 90%;
  padding: 20px;
}
.boxChat .wrapper .boxMessages li {
  box-shadow: 0px 0px 4px #000000, 0px 0px 2px #000000;
  padding: 5px;
}
.boxChat .wrapper .boxMessages .top .sellerAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10px;
}
.boxChat .wrapper p {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  color: #2DB0BA;
}
.boxChat .wrapper textarea {
  width: 99%;
  border: none;
  border-radius: 5px;
}
.boxChat .wrapper button {
  color: #ffffff;
  background-color: #2DB0BA;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  text-shadow: 0px 0px 1px #000000, 0.25px 0.25px 1px #ffffff, 0.5px 0.5px 1px #000000;
}

footer {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=App.css.map */