/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
div#root > main.mainLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --vertVintaidBtn: #2db0ba;
  --vertVintDark: #007782;
  --vertVintLight: #00757f;
  --vertVintedInput: rgb(0, 156, 104);
  --darkModeHeader: #121212;
  --darkMode: #181a1b;
  --lightMode: #ffffff;
  --black: #000000;
  --backDarkLink: #343434;
  --backDarkLastUsersBoxUser: #505050;
  --backLightInput: #c2c2c2;
  --headerLibackgd: #2db0ba;
  --borderInput: rgba(255, 0, 0, 0.197);
  --backgHeader: #c9c9c9;
  --darkBackgForm: #3c595b;

  a {
    text-decoration: none;
  }
  /* DARK MODE */
  .dark {
    background-color: var(--darkMode);
    color: var(--lightMode);
  }

  .dark header,
  .dark footer {
    background-color: var(--darkModeHeader);
  }
  .dark .containerBoxSearch .boxSearch,
  .dark .classLabelInput,
  .dark .classLabelInput input,
  .dark .labelTxtContact textarea,
  .dark .boxPsswd,
  .dark .boxModalContentSignUp,
  .dark .classInputCode,
  .dark .boxForm .wrapper form .boxPicTop .boxPicBottomEmpty,
  .dark > .boxOfferId > .wrapper > .top > .right,
  .dark > .boxPicTop,
  .dark > .boxForm > .wrapper > .boxPicTop > .boxPicBottom,
  .dark
    .boxOfferIdUpdateAndDelete
    .wrapper
    .right
    .boxOfferIdUpdateInput
    .classLabelInput
    input {
    background-color: var(--backDarkLink) !important;
    color: var(--lightMode);
  }
  .dark
    .boxOfferIdUpdateAndDelete
    .wrapper
    .right
    .boxOfferIdUpdateInput
    .classLabelInput {
    background-color: transparent !important;
  }
}

/* input[type="file"] */
input[type="file"] {
  display: none;
}

/* LINK */
a,
a p {
  color: #a0f7ff;
  text-shadow: 0.25px 0.25px 1px #000000, 0.5px 0.5px 1px #000000;
  font-size: 14px;
}
.linkPublish p {
  color: #2db0ba;
}
/* div#root && main.mainLayout */
html,
body,
#root {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.sectionContent {
  display: flex;
  flex: 1 0 auto;
  overflow-y: auto;
  position: relative;
}
/* .rootHeight {
  height: var(--fixHeight);
} */
@media all and (min-width: 768px) {
  .boxHome,
  .boxOfferId,
  .boxDashboard,
  .boxMyOffers {
    height: calc(var(--fixHeight) - 120px);
  }
}
